<div class="mx-auto md:w-1/2">
  <div class="mx-auto mb-6">
    <h1 class="text-center font-semibold text-xl md:text-2xl lg:text-4xl"><%= t(".title") %></h1>
  </div>

  <%= form_with url: session_url, data: { turbo: false }, class: "contents" do |form| %>
    <div class="flex flex-col justify-center items-center space-x-3 mb-4 md:flex-row">
      <label for="" class="text-base font-medium mx-4 text-gray-700 required dark:text-gray-100"><%= t(".email") %></label>
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t(".email_placeholder"), value: params[:email_address], class: "shadow-md rounded-md border border-gray-400 focus:outline-softBlue px-3 py-2 w-1/2 dark:text-black" %>
    </div>

    <div class="flex flex-col justify-center items-center space-x-3 mb-4 md:flex-row">
      <label for="" class="text-base font-medium text-gray-700 required dark:text-gray-100"><%= t(".password") %></label>
      <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t(".password_placeholder"), maxlength: 72, class: "shadow-md rounded-md border border-gray-400 focus:outline-blue-400 px-3 py-2 w-1/2 dark:text-black" %>
    </div>

    <div class="flex flex-col justify-center items-center space-x-4 md:flex-row">
      <div class="mb-4">
        <%= form.submit t(".submit_button"), class: "text-center rounded-md px-3.5 py-2.5 text-white bg-softBlue hover:bg-white hover:text-softBlue hover:border-2 hover:border-softBlue inline-block font-medium cursor-pointer" %>
      </div>

      <div class="text-base items-center text-gray-500 md:mt-0">
        <%= link_to t(".forgot_password_link"), new_password_path, class: "text-gray-700 underline hover:no-underline dark:text-gray-100" %>
      </div>
    </div>
  <% end %>

  <div class="relative flex py-5 items-center">
    <div class="flex-grow border-t border-gray-400"></div>
    <span class="flex-shrink text-sm mx-4 text-gray-400 md:text-base"><%= t(".or_sign_in_with") %></span>
    <div class="flex-grow border-t border-gray-400"></div>
  </div>

  <div class="mt-3 flex flex-col justify-center items-center gap-6">
    <div class="flex gap-8">
      <%= form_with url: "/auth/google_oauth2", method: :post, data: { controller: "time-zone", action: "submit->time-zone#setAuthUrl", turbo: false } do |form| %>
        <button type="submit" class="btn flex items-center justify-center py-2 rounded-md text-sm cursor-pointer">
          <%= image_tag "icons8-google-40.png", style: "width: 20px; height: 20px;" %>
          <span class="ml-2 text-softBlue font-semibold underline decoration-2 decoration-softBlue"><%= t(".google_button") %></span>
        </button>
      <% end %>

      <%= form_with url: "/auth/line", method: :post, data: { controller: "time-zone", action: "submit->time-zone#setAuthUrl", turbo: false } do |form| %>
        <button type="submit" class="btn flex items-center justify-center py-2 rounded-md text-sm cursor-pointer">
          <%= image_tag "icons8-line-48.png", style: "width: 25px; height: 25px;" %>
          <span class="ml-2 text-softBlue font-semibold underline decoration-2 decoration-softBlue"><%= t(".line_button") %></span>
        </button>
      <% end %>

      <%= form_with url: "/auth/github", method: :post, data: { controller: "time-zone", action: "submit->time-zone#setAuthUrl", turbo: false } do |form| %>
        <button type="submit" class="btn flex items-center justify-center py-2 rounded-md text-sm cursor-pointer">
          <%= image_tag "icons8-github-bgremove.gif", style: "width: 25px; height: 25px;" %>
          <span class="ml-2 text-softBlue font-semibold underline decoration-2 decoration-softBlue"><%= t(".github_button") %></span>
        </button>
      <% end %>
    </div>
    <div class="mb-3 flex justify-center items-center gap-4">
      <span id="HelpBlock" class="text-center text-gray-500 dark:text-gray-100"><%= t(".help_text_html", google_icon: image_tag("icons8-google-40.png", style: "width: 20px; height: 20px;", class: "inline-block align-middle"), chrome_icon: svg("chrome"), edge_icon: svg("edge"), firefox_icon: svg("firefox")) %></span>
    </div>
  </div>
</div>