<%= form_with(model: [@pet, @health_check], id: "health-form", class: "contents") do |form| %>
  <%= form.hidden_field :page, value: params[:page] %>
  <div class="flex flex-col justify-center mb-4 md:flex-row">
    <%= render 'shared/errors', obj: @health_check %>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :exam_date, class: "text-sm font-bold text-gray-700 dark:text-gray-100 capitalize md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.date_field :exam_date, value: @health_check.exam_date || set_current_date, max: set_current_date, min: @pet.birthday, class: ["block shadow-sm rounded-md border outline-none px-3 py-2 mt-2 w-full dark:text-black", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:exam_date].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:exam_date].any?}] %>
    </div>
  </div>
  <h2 class="text-center font-bold text-red-600 text-3xl capitalize md:text-lg">blood test</h2>
  <div class="container rounded-lg border-2 border-red-600 bg-red-100 p-4 mx-auto">
    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :rbc, "RBC(M/µl)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :rbc, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:rbc].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:rbc].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :hct, "HCT(%)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :hct, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:hct].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:hct].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :hgb, "HGB(g/dL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :hgb, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:hgb].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:hgb].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :mcv, "MCV(fL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :mcv, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:mcv].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:mcv].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :mch, "MCH(pg)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :mch, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:mch].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:mch].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :mchc, "MCHC(g/dL)",class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :mchc, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:mchc].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:mchc].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :rdw, "RDW(%)",class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :rdw, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:rdw].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:rdw].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :retic, "RETIC(K/µL)",class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :retic, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:retic].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:retic].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label "retic-hgb", "RETIC-HGB(pg)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field "retic-hgb", step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:"retic-hgb"].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:"retic-hgb"].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :wbc, "WBC(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :wbc, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:wbc].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:wbc].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :neu, "NEU(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :neu, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:neu].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:neu].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :lym, "LYM(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :lym, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:lym].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:lym].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :mono, "MONO(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :mono, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:mono].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:mono].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :eos, "EOS(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :eos, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:eos].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:eos].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :baso, "BASO(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :baso, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:baso].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:baso].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :plt, "PLT(K/µL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :plt, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:plt].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:plt].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :mpv, "MPV(fL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :mpv, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:mpv].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:mpv].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :pct, "PCT(%)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :pct, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:pct].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:pct].any?}] %>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :glu, "GLU(mg/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :glu, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:glu].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:glu].any?}] %>
    </div>
  </div>

  
  <h2 class="text-center font-bold text-sky-600 text-3xl capitalize md:text-lg">kidney</h2>
  <div class="container rounded-lg border-2 border-sky-600 bg-sky-100 p-4 mx-auto">
    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :crea, "CREA(mg/dL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :crea, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:crea].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:crea].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :bun, "BUN(mg/dL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :bun, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:bun].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:bun].any?}] %>
      </div>
    </div>

    <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
      <div class="flex justify-center md:justify-end md:w-1/3">
        <%= form.label :phos, "PHOS(mg/dL)", class: "text-sm font-bold text-gray-700 md:text-base" %>
      </div>
      <div class="flex flex-col items-center md:items-start md:w-5/6">
        <%= form.number_field :phos, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:phos].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:phos].any?}] %>
      </div>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :tp, "TP(g/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :tp, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:tp].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:tp].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :alb, "ALB(g/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :alb, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:alb].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:alb].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :glob, "GLOB(g/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :glob, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:glob].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:glob].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :alt, "ALT(U/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :alt, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:alt].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:alt].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :alkp, "ALKP(U/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :alkp, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:alkp].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:alkp].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :na, "Na(mmol/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :na, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:na].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:na].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :k, "K(mmol/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :k, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:k].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:k].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :cl, "Cl(mmol/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 capitalize md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :cl, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:cl].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:cl].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :ca, "CA(mg/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :ca, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:ca].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:ca].any?}] %>
    </div>
  </div>


  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :chol, "CHOL(mg/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :chol, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:chol].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:chol].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :ggt, "GGT(U/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :ggt, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:ggt].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:ggt].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :tbil, "TBIL(mg/dL)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :tbil, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:tbil].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:tbil].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :amyl, "AMYL(U/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :amyl, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:amyl].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:amyl].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :lipa, "LIPA(U/L)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :lipa, step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:lipa].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:lipa].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label "osm-cal", "Osm Calc(mmol/kg)", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field "osm-cal", step: :any, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:"osm-cal"].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:"osm-cal"].any?}] %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label "fBNP", "evaluate heart health and loading", class: "text-sm font-bold text-gray-700 dark:text-gray-100 md:text-base" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.text_field :fbnp, class: ["block shadow rounded-md border outline-none px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": @health_check.errors[:fbnp].none?, "border-red-400 focus:outline-red-600": @health_check.errors[:fbnp].any?}] %>
    </div>
  </div>
<% end %>