<div id="<%= dom_id health_check %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Crea:</strong>
    <%= health_check.crea %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Bun:</strong>
    <%= health_check.bun %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Phos:</strong>
    <%= health_check.phos %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ca:</strong>
    <%= health_check.ca %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Alb:</strong>
    <%= health_check.alb %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Chol:</strong>
    <%= health_check.chol %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tp:</strong>
    <%= health_check.tp %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Alt:</strong>
    <%= health_check.alt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Alkp:</strong>
    <%= health_check.alkp %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Ggt:</strong>
    <%= health_check.ggt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Glu:</strong>
    <%= health_check.glu %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Tbil:</strong>
    <%= health_check.tbil %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Amyl:</strong>
    <%= health_check.amyl %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Lipa:</strong>
    <%= health_check.lipa %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Na:</strong>
    <%= health_check.na %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">K:</strong>
    <%= health_check.k %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Cl:</strong>
    <%= health_check.cl %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rbc:</strong>
    <%= health_check.rbc %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Hct:</strong>
    <%= health_check.hct %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Hgb:</strong>
    <%= health_check.hgb %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mcv:</strong>
    <%= health_check.mcv %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mch:</strong>
    <%= health_check.mch %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mchc:</strong>
    <%= health_check.mchc %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Rdw:</strong>
    <%= health_check.rdw %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Retic:</strong>
    <%= health_check.retic %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Retic-hgb:</strong>
    <%= health_check["retic-hgb"] %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Wbc:</strong>
    <%= health_check.wbc %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Neu:</strong>
    <%= health_check.neu %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Lym:</strong>
    <%= health_check.lym %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mono:</strong>
    <%= health_check.mono %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Eos:</strong>
    <%= health_check.eos %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Baso:</strong>
    <%= health_check.baso %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Plt:</strong>
    <%= health_check.plt %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Mpv:</strong>
    <%= health_check.mpv %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pct:</strong>
    <%= health_check.pct %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Osm-cal:</strong>
    <%= health_check["osm-cal"] %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Pet:</strong>
    <%= health_check.pet_id %>
  </p>
</div>
