<div class="flex flex-col justify-center items-center">
  <div class="flex justify-center mb-2">
    <h1 class="text-center font-bold text-xl text-amber-700 mb-2 mt-2 p-4 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl"><%= t('health_checks.index.header') %>s</h1>
    <div class="flex flex-row justify-center items-center gap-4 mt-2">
      <div class="relative group">
        <span class="absolute -top-8 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100 capitalize">
          <%= t('health_checks.index.go_back_home') %>
        </span>
        <%= link_to pet_health_checks_path, class: "hover:opacity-80 transition-opacity cursor-pointer" do %>
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            class="transition-transform duration-200 group-hover:scale-110 group-hover:rotate-45 origin-center" width="50px" height="50px" viewBox="0 0 493 493" style="enable-background:new 0 0 493 493;" xml:space="preserve">
            <g>
              <path d="M413.5,0h-334C68.196,0,59,9.196,59,20.5v452c0,11.304,9.196,20.5,20.5,20.5h334c11.304,0,20.5-9.196,20.5-20.5v-452
                C434,9.196,424.804,0,413.5,0z M135.559,433.688c0-59.52,48.422-107.941,107.941-107.941s107.941,48.422,107.941,107.941
                c0,14.725-2.905,28.935-8.623,42.313H252v-19.214h15.921c4.694,0,8.5-3.806,8.5-8.5c0-4.694-3.806-8.5-8.5-8.5H219.08
                c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5H235V476h-90.819C138.463,462.623,135.559,448.412,135.559,433.688z
                M135.559,370.001v-76.306l62.438,23.477C171.672,327.328,149.68,346.06,135.559,370.001z M351.441,370.001
                c-14.122-23.941-36.113-42.673-62.438-52.829l62.438-23.477V370.001z M417,472.5c0,1.93-1.57,3.5-3.5,3.5h-52.467
                c4.914-13.853,7.409-28.77,7.409-43.433V281.418c0-2.789-1.368-5.4-3.662-6.988c-2.293-1.588-5.219-1.948-7.83-0.968
                l-96.658,36.395c-5.494-0.728-11.098-1.11-16.792-1.11c-5.617,0-11.145,0.371-16.568,1.079l-96.882-36.363
                c-2.609-0.982-5.536-0.62-7.83,0.968c-2.293,1.588-3.662,4.199-3.662,6.988v151.149c0,14.663,2.495,29.579,7.409,43.433H79.5
                c-1.93,0-3.5-1.57-3.5-3.5v-452c0-1.93,1.57-3.5,3.5-3.5h334c1.93,0,3.5,1.57,3.5,3.5V472.5z"/>
              <path d="M367.034,91.093H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
                C375.534,94.898,371.728,91.093,367.034,91.093z"/>
              <path d="M183.676,59.496l-38.076,38.076l-11.624-11.624c-3.319-3.318-8.702-3.319-12.021,0.001c-3.319,3.319-3.319,8.701,0,12.021
                l17.635,17.634c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
                C192.377,56.178,186.996,56.178,183.676,59.496z"/>
              <path d="M367.034,201.564H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
                C375.534,205.37,371.728,201.564,367.034,201.564z"/>
              <path d="M183.676,169.968l-38.076,38.076l-11.624-11.625c-3.319-3.318-8.701-3.318-12.021,0c-3.32,3.319-3.32,8.702,0,12.021
                l17.635,17.635c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
                C192.377,166.649,186.996,166.649,183.676,169.968z"/>
            </g>
          </svg>
        <% end %>
      </div>
    </div>
  </div>
  <%= form_with url: bulk_delete_pet_health_checks_path(@pet), method: :delete, data: { confirm: "Are you sure you want to delete the selected health checks?"} do |form| %>
    <% if @health_checks.any? %>
      <div class="flex justify-start mt-4 ml-4">
        <%= form.submit "Delete Selected", class: "p-2 rounded-md shadow-lg font-semibold border-2 border-red-300 text-gray-700 bg-red-200 hover:bg-gray-100 hover:border-gray-300 hover:text-red-700 hover:scale-110" %>
      </div>
      <div class="container mx-auto w-full shadow-lg rounded-xl p-4 mb-4" data-controller="bulk-delete">
        <div class="overflow-x-auto w-full">
          <div class="hidden overflow-x-auto w-full md:block">
            <table class="table-auto mb-2 px-2 w-full dark:bg-slate-100">
              <thead>
                <tr class="bg-gray-100 dark:bg-black">
                  <th class="capitalize text-sm text-center p-2 dark:text-white">
                    <input type="checkbox" data-bulk-delete-target="selectAll" data-action="bulk-delete#toggleAll">
                  </th>
                  <th class="text-sm text-center p-2 dark:text-white">#</th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:exam_date) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:rbc) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:hct) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:hgb) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:mcv) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:mch) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:mchc) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:rdw) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:retic) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:retic_hgb) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:wbc) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:neu) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:lym) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:mono) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:eos) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:baso) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:plt) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:mpv) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:pct) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:glu) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:crea) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:bun) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:phos) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:tp) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:alb) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:glob) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:alt) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:alkp) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:na) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:k) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:cl) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:ca) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:chol) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:ggt) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:tbil) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:amyl) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:fpl2) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:lipa) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:osm_cal) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:fbnp) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:felv) %></th>
                  <th class="text-sm text-center p-2 dark:text-white"><%= HealthCheck.human_attribute_name(:fiv) %></th>
                  <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('health_checks.index.edit') %></th>
                  <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('health_checks.index.delete') %></th>
                  </tr>
                  </thead>
                  <thead>
                  <tr class="border-b-4 bg-gray-100 dark:bg-black">
                    <th class="text-sm text-center p-2 dark:text-white"></th>
                    <th class="text-sm text-center p-2 dark:text-white"></th>
                    <th class="text-sm text-center p-2 dark:text-white"><%= t('health_checks.index.reference_range') %></th>                    <th class="text-sm text-center p-2 dark:text-white">6.54 - 12.20 (M/µl)</th>
                    <th class="text-sm text-center p-2 dark:text-white">30.3 - 52.3 (%)</th>
                    <th class="text-sm text-center p-2 dark:text-white">9.8 - 16.2 (g/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">35.9 - 53.1 (fL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">11.8 - 17.3 (pg)</th>
                    <th class="text-sm text-center p-2 dark:text-white">28.1 - 35.8 (g/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">15.0 - 27.0 (%)</th>
                    <th class="text-sm text-center p-2 dark:text-white">3.0 - 50.0 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">13.2 - 20.8 (pg)</th>
                    <th class="text-sm text-center p-2 dark:text-white">2.87 - 17.02 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">2.30 - 10.29 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.92 - 6.88 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.05 - 0.67 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.17 - 1.57 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.01 - 0.26 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">151 - 600 (K/µL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">11.4 - 21.6 (fL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.17 - 0.86 (%)</th>
                    <th class="text-sm text-center p-2 dark:text-white">74 - 159 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.8 - 2.4 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">16 - 36 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">3.1 - 7.5 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">5.7 - 8.9 (g/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">2.2 - 4.0 (g/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">2.8 - 5.1 (g/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">12 - 130 (U/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">14 - 111 (U/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">150 - 165 (mmol/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">3.5 - 5.8 (mmol/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">112 - 129(mmol/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">7.8 - 11.3 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">65 - 225 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0 - 4 (U/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">0.0 - 0.9 (mg/dL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">500 - 1500 (U/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white"><= 3.5 (ng/mL)</th>
                    <th class="text-sm text-center p-2 dark:text-white">100 - 1400 (U/L)</th>
                    <th class="text-sm text-center p-2 dark:text-white">-</th>
                    <th class="text-sm text-center p-2 dark:text-white">-</th>
                    <th class="text-sm text-center p-2 dark:text-white">-</th>
                    <th class="text-sm text-center p-2 dark:text-white">-</th>
                    <th class="text-sm text-center p-2 dark:text-white"></th>
                    <th class="text-sm text-center p-2 dark:text-white"></th>
                  </tr>
                </thead>
              <tbody>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <tr id="<%= dom_id(health_check) %>" class="border-b bg-gray-100">
                    <td class="capitalize text-sky-700 text-sm text-center p-2">
                      <%= check_box_tag "health_check_ids[]", health_check.id, false, class: "health-check-checkbox", "data-bulk-delete-target": "checkbox", "data-action": "bulk-delete#updateSelectAll" %>
                    </td>
                    <td class="text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
                    <td class="text-sm text-center p-2 dark:text-gray-800"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
                    <td class="text-sm <%=range_row_class(health_check.rbc, 12.20, 6.54)%> p-2"><%= health_check.rbc %></td>
                    <td class="text-sm <%=range_row_class(health_check.hct, 52.3, 30.3)%> p-2"><%= health_check.hct %></td>
                    <td class="text-sm <%=range_row_class(health_check.hgb, 16.2, 9.8)%> p-2"><%= health_check.hgb %></td>
                    <td class="text-sm <%=range_row_class(health_check.mcv, 53.1, 35.9)%> p-2"><%= health_check.mcv %></td>
                    <td class="text-sm <%=range_row_class(health_check.mch, 17.3, 11.8)%> p-2"><%= health_check.mch %></td>
                    <td class="text-sm <%=range_row_class(health_check.mchc, 35.8, 28.1)%> p-2"><%= health_check.mchc %></td>
                    <td class="text-sm <%=range_row_class(health_check.rdw, 27.0, 15.0)%> p-2"><%= health_check.rdw %></td>
                    <td class="text-sm <%=range_row_class(health_check.retic, 50.0, 3.0)%> p-2"><%= health_check.retic %></td>
                    <td class="text-sm <%=range_row_class(health_check.retic_hgb, 20.8, 13.2)%> p-2"><%= health_check.retic_hgb %></td>
                    <td class="text-sm <%=range_row_class(health_check.wbc, 17.02, 2.87)%> p-2"><%= health_check.wbc %></td>
                    <td class="text-sm <%=range_row_class(health_check.neu, 10.29, 2.30)%> p-2"><%= health_check.neu %></td>
                    <td class="text-sm <%=range_row_class(health_check.lym, 6.88, 0.92)%> p-2"><%= health_check.lym %></td>
                    <td class="text-sm <%=range_row_class(health_check.mono, 0.67, 0.05)%> p-2"><%= health_check.mono %></td>
                    <td class="text-sm <%=range_row_class(health_check.eos, 1.57, 0.17)%> p-2"><%= health_check.eos %></td>
                    <td class="text-sm <%=range_row_class(health_check.baso, 0.26, 0.01)%> p-2"><%= health_check.baso %></td>
                    <td class="text-sm <%=range_row_class(health_check.plt, 600, 151)%> p-2"><%= health_check.plt %></td>
                    <td class="text-sm <%=range_row_class(health_check.mpv, 21.6, 11.4)%> p-2"><%= health_check.mpv %></td>
                    <td class="text-sm <%=range_row_class(health_check.pct, 0.86, 0.17)%> p-2"><%= health_check.pct %></td>
                    <td class="text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
                    <td class="text-sm <%=range_row_class(health_check.crea, 2.4, 0.8)%> p-2"><%= health_check.crea %></td>
                    <td class="text-sm <%=range_row_class(health_check.bun, 36, 16)%> p-2"><%= health_check.bun %></td>
                    <td class="text-sm <%=range_row_class(health_check.phos, 7.5, 3.1)%> p-2"><%= health_check.phos %></td>
                    <td class="text-sm <%=range_row_class(health_check.tp, 8.9, 5.7)%> p-2"><%= health_check.tp %></td>
                    <td class="text-sm <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
                    <td class="text-sm <%=range_row_class(health_check.glob, 5.1, 2.8)%> p-2"><%= health_check.glob %></td>
                    <td class="text-sm <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
                    <td class="text-sm <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
                    <td class="text-sm <%=range_row_class(health_check.na, 165, 150)%> p-2"><%= health_check.na %></td>
                    <td class="text-sm <%=range_row_class(health_check.k, 5.8, 3.5)%> p-2"><%= health_check.k %></td>
                    <td class="text-sm <%=range_row_class(health_check.cl, 129, 112)%> p-2"><%= health_check.cl %></td>
                    <td class="text-sm <%=range_row_class(health_check.ca, 11.3, 7.8)%> p-2"><%= health_check.ca %></td>
                    <td class="text-sm <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
                    <td class="text-sm <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
                    <td class="text-sm <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
                    <td class="text-sm <%=range_row_class(health_check.amyl, 1500, 500)%> p-2"><%= health_check.amyl %></td>
                    <td class="text-sm <%=range_row_class(health_check.fpl2, 3.5, 0)%> p-2"><%= health_check.fpl2 %></td>
                    <td class="text-sm <%=range_row_class(health_check.lipa, 1400, 100)%> p-2"><%= health_check.lipa %></td>
                    <td class="text-sm font-normal text-center p-2"><%= health_check.osm_cal %></td>
                    <td class="text-sm font-normal text-center p-2"><%= health_check.fbnp %></td>
                    <td class="text-sm font-normal text-center p-2"><%= health_check.felv %></td>
                    <td class="text-sm font-normal text-center p-2"><%= health_check.fiv %></td>                  
                    <td class="text-sm text-center p-2">
                      <%= link_to edit_pet_health_check_path(@pet, health_check), id: "edit_health_check_#{health_check.id}", class: "inline-block transition-transform text-emerald-400 hover:text-emerald-600 hover:scale-110" do %>
                        <span class="sr-only"><%= t('health_checks.show.edit') %></span>                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                          <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                          <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                        </svg>
                      <% end %>
                    </td>
                    <td class="text-sky-700 test-sm text-center p-2">
                      <%= link_to pet_health_check_path(@pet, health_check), data: { turbo_method: :delete, turbo_confirm: t('health_checks.show.confirm_delete') }, class: "inline-block transition-transform text-red-400 hover:text-red-600 hover:scale-110" do %>                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                          <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <ul class="list-disc list-inside ml-4">
              <li class="text-red-700 font-bold italic mt-2"><%= t('health_checks.index.legend.red') %></li>
              <li class="text-sky-700 font-bold italic mt-2"><%= t('health_checks.index.legend.blue') %></li>
            </ul>          
          </div>
          <!-- Transposed Table for Small Screens -->
          <div class="md:hidden overflow-x-auto">
            <table class="table-auto mb-2">
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">#</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"></th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Exam Date</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">Reference Range</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center dark:text-gray-800 p-2"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">RBC(M/µl)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">6.54 - 12.20 (M/µl)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.rbc, 12.20, 6.54)%> p-2"><%= health_check.rbc %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">HCT(%)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">30.3 - 52.3 (%)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.hct, 52.3, 30.3)%> p-2"><%= health_check.hct %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">HGB(g/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">9.8 - 16.2 (g/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.hgb, 16.2, 9.8)%> p-2"><%= health_check.hgb %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">MCV(fL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">35.9 - 53.1 (fL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.mcv, 53.1, 35.9)%> p-2"><%= health_check.mcv %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">MCH(pg)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">11.8 - 17.3 (pg)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.mch, 17.3, 11.8)%> p-2"><%= health_check.mch %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">MCHC(g/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">28.1 - 35.8 (g/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.mchc, 35.8, 28.1)%> p-2"><%= health_check.mchc %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">RDW(%)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">15.0 - 27.0 (%)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.rdw, 27.0, 15.0)%> p-2"><%= health_check.rdw %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">RETIC(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">3.0 - 50.0 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.retic, 50.0, 3.0)%> p-2"><%= health_check.retic %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">RETIC-HGB(pg)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">13.2 - 20.8 (pg)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.retic_hgb, 20.8, 13.2)%> p-2"><%= health_check.retic_hgb %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">WBC(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.87 - 17.02 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.wbc, 17.02, 2.87)%> p-2"><%= health_check.wbc %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">NEU(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.30 - 10.29 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.neu, 10.29, 2.30)%> p-2"><%= health_check.neu %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">LYM(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.92 - 6.88 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.lym, 6.88, 0.92)%> p-2"><%= health_check.lym %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">MONO(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.05 - 0.67 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.mono, 0.67, 0.05)%> p-2"><%= health_check.mono %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">EOS(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.17 - 1.57 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.eos, 1.57, 0.17)%> p-2"><%= health_check.eos %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">BASO(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.01 - 0.26 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.baso, 0.26, 0.01)%> p-2"><%= health_check.baso %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">PLT(K/µL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">151 - 600 (K/µL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.plt, 600, 151)%> p-2"><%= health_check.plt %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">MPV(fL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">11.4 - 21.6 (fL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.mpv, 21.6, 11.4)%> p-2"><%= health_check.mpv %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">PCT(%)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.17 - 0.86 (%)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.pct, 0.86, 0.17)%> p-2"><%= health_check.pct %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GLU(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">74 - 159 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CREA(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.8 - 2.4 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="text-sm <%=range_row_class(health_check.crea, 2.4, 0.8)%> p-2"><%= health_check.crea %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">BUN(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">16 - 36 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="text-sm <%=range_row_class(health_check.bun, 36, 16)%> p-2"><%= health_check.bun %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">PHOS(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">3.1 - 7.5 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="text-sm <%=range_row_class(health_check.phos, 7.5, 3.1)%> p-2"><%= health_check.phos %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">TP(g/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">5.7 - 8.9 (g/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.tp, 8.9, 5.7)%> p-2"><%= health_check.tp %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALB(g/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.2 - 4.0 (g/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GLOB(g/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.8 - 5.1 (g/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.glob, 5.1, 2.8)%> p-2"><%= health_check.glob %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALT(U/L)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">12 - 130 (U/L)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALKP(U/L)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">14 - 111 (U/L)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Na(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">150 - 165 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.na, 165, 150)%> p-2"><%= health_check.na %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">K(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">3.5 - 5.8 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.k, 5.8, 3.5)%> p-2"><%= health_check.k %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Cl(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">112 - 129 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.cl, 129, 112)%> p-2"><%= health_check.cl %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Ca(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">7.8 - 11.3 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.ca, 11.3, 7.8)%> p-2"><%= health_check.ca %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CHOL(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">65 - 225 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GGT(U/L)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0 - 4 (U/L)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">TBIL(mg/dL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.0 - 0.9 (mg/dL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">AMYL(U/L)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">500 - 1500 (U/L)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.amyl, 1500, 500)%> p-2"><%= health_check.amyl %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">fPL2(ng/mL)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0 - 3.5 (ng/mL)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.fpl2, 3.5, 0)%> p-2"><%= health_check.fpl2 %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">LIPA(U/L)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">100 - 1400 (U/L)</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm <%=range_row_class(health_check.lipa, 1400, 100)%> p-2"><%= health_check.lipa %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Osm Calc(mmol/kg)</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">-</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center p-2"><%= health_check.osm_cal %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">fBNP</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">-</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center p-2"><%= health_check.fbnp %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">FeLV</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">-</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center p-2"><%= health_check.felv %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">FIV</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">-</th>
                <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                  <td class="capitalize text-sm text-center p-2"><%= health_check.fiv %></td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Edit</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"></th>
                <% @health_checks.select(&:persisted?).each do |health_check| %>
                  <td class="capitalize text-sm text-center p-2">
                    <%= link_to edit_pet_health_check_path(@pet, health_check), class: "inline-block transition-transform text-emerald-400 hover:text-emerald-600 hover:scale-110" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
                        <path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
                      </svg>
                    <% end %>
                  </td>
                <% end %>
              </tr>
              <tr class="border-b bg-gray-100">
                <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Delete</th>
                <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"></th>
                <% @health_checks.select(&:persisted?).each do |health_check| %>
                  <td class="capitalize text-sm text-center p-2">
                    <%= link_to pet_health_check_path(@pet, health_check), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this health check?" }, class: "inline-block transition-transform text-red-400 hover:text-red-600 hover:scale-110" do %>
                      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                      </svg>
                    <% end %>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
        </div>
      </div>
    <% else %>
    <% end %>
  <% end %>
</div>