<div class="flex flex-col justify-center items-center">
  <div class="flex justify-center">
    <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 p-4 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl"><%= t('.header') %></h1>
    <div class="flex flex-row justify-center items-center gap-4 mt-2">
      <div class="relative group">
        <span class="absolute -top-8 left-1/2 -transition-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
          <%= t('.back_link') %>
        </span>
        <%= link_to pet_health_checks_path, class: "hover:opacity-80 transition-opacity cursor-pointer" do %>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          class="transition-transform duration-200 group-hover:scale-110 group-hover:rotate-45 origin-center"
          width="50px" height="50px" viewBox="0 0 511.995 511.995" style="enable-background:new 0 0 511.995 511.995;" xml:space="preserve">
          <path style="fill:#434A54;" d="M164.178,371.204c0,5.89-4.766,10.655-10.656,10.655c-5.891,0-10.672-4.766-10.672-10.655
            c0-5.891,4.781-10.672,10.672-10.672C159.412,360.532,164.178,365.313,164.178,371.204z"/>
          <path style="fill:#965353;" d="M130.944,81.883C-50.239,78.602,9.4,291.347,9.4,352.064S-8.396,430.64,28.603,430.14
            c106.294-1.453,108.888-69.062,160.684-76.873c197.894-29.828,294.58-134.92,321.563-227.604
            C526.927,70.43,369.181,86.586,319.886,92.43C256.536,99.945,197.802,83.086,130.944,81.883z"/>
          <path style="fill:#7F4545;" d="M309.229,243.723c-2.062-25.016-1.328-51.373,2.219-78.326c4.703-35.765,13.141-63.217,16.766-73.92
            c-3.031,0.328-5.828,0.656-8.328,0.953c-4.969,0.594-9.906,1.016-14.828,1.328c-4.406,14.422-10.719,38.437-14.688,68.248
            c-3.781,28.547-4.609,56.498-2.438,83.107c2.281,27.875,7.859,54.326,16.625,78.842c6.781-2.547,13.375-5.219,19.797-7.984
            C316.433,293.534,311.339,269.301,309.229,243.723z"/>
          <g style="opacity:0.1;">
            <path style="fill:#FFFFFF;" d="M130.944,103.21c66.858,1.203,125.591,18.062,188.941,10.547
              c43.342-5.125,170.48-18.234,189.667,16.187c0.453-1.422,0.891-2.859,1.297-4.281C526.926,70.43,369.18,86.586,319.885,92.43
              c-63.35,7.515-122.083-9.344-188.941-10.547C16.307,79.805-1.927,164.209,0.15,241.863
              C2.213,170.865,26.759,101.335,130.944,103.21z"/>
          </g>
        </svg>
      <% end %>
      </div>
    </div>
  </div>
  <% if @health_checks.empty? %>
    <p class="text-amber-700 text-center font-bold my-10">No <%= @pet.petname.capitalize %>'s liver health checks report</p>
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4">
      <%= link_to "Go Back to Report Index", pet_health_checks_path, class: "mb-4 items-center text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
    </div>
  <% else %>
    <div class="container mx-auto w-full shadow-lg rounded-xl p-4 mb-4">
      <div class="overflow-x-auto w-full">
        <div class="hidden overflow-x-auto w-full md:block">
          <table class="table-auto mb-2 px-2 w-full dark:bg-slate-100">
            <thead>
              <tr class="bg-gray-100 dark:bg-black">
                <th class="text-sm text-center p-2 dark:text-white">#</th>
                <th class="text-sm text-center p-2 dark:text-white">Exam Date</th>
                <th class="text-sm text-center p-2 dark:text-white">GLU(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">TP(g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALB(g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALT(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALKP(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">CHOL(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">GGT(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">BUN(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">TBIL(mg/dL)</th>
              </tr>
            </thead>
            <thead>
              <tr class="border-b-4 bg-gray-100 dark:bg-black">
                <th class="text-sm text-center p-2 dark:text-white"></th>
                <th class="text-sm text-center p-2 dark:text-white">Reference Range</th>
                <th class="text-sm text-center p-2 dark:text-white">74 - 159 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">5.7 - 8.9 (g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">2.2 - 4.0 (g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">12 - 130 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">14 - 111 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">65 - 225 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">0 - 4 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">16 - 36 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">0.0 - 0.9 (mg/dL)</th>
              </tr>
            </thead>
            <tbody>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <tr id="<%= dom_id(health_check) %>" class="border-b bg-gray-100">
                  <td class="text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
                  <td class="text-sm text-center p-2 dark:text-gray-800"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
                  <td class="text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.tp, 8.9, 5.7)%> p-2"><%= health_check.tp %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.bun, 36, 16)%> p-2"><%= health_check.bun %></td>
                  <td class="text-sm text-center <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <ul class="list-disc list-inside ml-4">
            <li class="text-red-700 font-bold italic mt-2">Red means the value is higher than reference range</li>
            <li class="text-sky-700 font-bold italic mt-2">Blue means the value is lower than reference range</li>
          </ul>
        </div>

        <!-- Transposed Table for Small Screens -->
        <div class="md:hidden overflow-x-auto">
          <table class="table-auto mb-2">
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">#</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"></th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">Exam Date</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">Reference Range</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm text-center dark:text-gray-800 p-2"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GLU(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">74 - 159 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">TP(g/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">5.7 - 8.9 (g/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.tp, 8.9, 5.7)%> p-2"><%= health_check.tp %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALB(g/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.2 - 4.0 (g/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALT(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">12 - 130 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALKP(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">14 - 111 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CHOL(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">65 - 225 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GGT(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0 - 4 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">BUN(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">16 - 36 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.bun, 36, 16)%> p-2"><%= health_check.bun %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">TBIL(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.0 - 0.9 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
              <% end %>
            </tr>
          </table>
          <ul class="list-disc list-inside ml-4">
            <li class="text-red-700 font-bold italic mt-2">Red means the value is higher than reference range</li>
            <li class="text-sky-700 font-bold italic mt-2">Blue means the value is lower than reference range</li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>
</div>