<div class="flex flex-col justify-center items-center">
  <div class="flex justify-center">
    <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 p-4 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl"><%= t('.header') %></h1>
    <div class="flex flex-row justify-center items-center gap-4 mt-2">
      <div class="relative group">
        <span class="absolute -top-8 left-1/2 -transition-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
          <%= t('.back_link') %>
        </span>
        <%= link_to pet_health_checks_path, class: "hover:opacity-80 transition-opacity cursor-pointer" do %>
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          class="transition-transform duration-200 group-hover:scale-110 group-hover:rotate-45 origin-center"
          width="50px" height="50px" viewBox="0 0 521.704 521.704" style="enable-background:new 0 0 521.704 521.704;" xml:space="preserve">
          <g>
            <g>
              <g>
                <circle style="fill:#EDE2D9;" cx="260.852" cy="260.854" r="260.85"/>
                <path style="fill:#F2EBE7;" d="M0.002,260.854c0,144.06,116.794,260.846,260.859,260.846V0C116.796,0,0.002,116.79,0.002,260.854
                  z"/>
              </g>
              <g>
                <path style="fill:#FCBE97;" d="M459.891,145.12c0,0-9.881-12.478-26.52,0c0,0-11.957-11.957-30.16,0
                  c0,0-18.724-7.796-25.482,5.199c0,0-20.279-11.957-27.559,6.241c0,0-18.72-11.957-28.601,4.161c0,0-20.283-14.042-34.842,0
                  c0,0-29.643-8.843-42.639,9.36c0,0-12.478-11.957-30.681,0c0,0-31.203-7.801-44.723,4.682c0,0-25.301-4.682-39.951,7.279
                  c0,0-21.412,2.076-31.293,20.279c0,0-22.364,11.957-21.838,32.241c0,0-26.52,20.279-11.957,50.961c0,0-8.843,20.8,2.076,42.639
                  c0,0,6.241,27.559,27.042,28.605c0,0,15.08,20.8,40.558,19.241c0,0,32.762,13.693,51.482,0.086c0,0,20.283-7.366,30.165-21.925
                  c0,0,15.597-15.601,4.161-35.885c0,0,1.559-19.241-13.004-21.838c0,0,23.923-1.038,30.681-10.398c0,0,28.601,0.517,39.52-13.004
                  c0,0,28.084-3.123,38.486-18.203c0,0,27.559-4.161,42.117-19.241c0,0,20.283-4.682,34.842-11.44c0,0,25.482-1.038,31.719-12.478
                  c0,0,21.843-6.758,27.042-21.838c0,0,13.521-13.521,9.36-24.44C459.891,165.403,465.599,149.285,459.891,145.12z"/>
                <g>
                  <path style="fill:#EDA37A;" d="M122.374,320.344c15.27-21.726,12.224-49.005-2.77-69.883c-1.943-2.696-6.452-0.103-4.493,2.623
                    c14.016,19.525,17.036,44.331,2.77,64.632C115.956,320.468,120.47,323.066,122.374,320.344L122.374,320.344z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M130.731,277.787c20.305-17.94,38.443-45.072,34.201-73.156c-0.495-3.312-5.509-1.9-5.014,1.378
                    c3.933,26.055-14.163,51.576-32.87,68.095C124.537,276.331,128.224,279.996,130.731,277.787L130.731,277.787z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M158.199,238.801c34.231-1.766,74.647-13.538,93.832-43.957c1.796-2.843-2.709-5.453-4.493-2.623
                    c-18.087,28.683-57.043,39.718-89.339,41.381C154.869,233.77,154.852,238.977,158.199,238.801L158.199,238.801z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M234.586,213.353c40.761,5.04,97.872,3.312,124.922-32.379c2.029-2.671-2.494-5.259-4.497-2.619
                    c-25.659,33.852-81.78,34.571-120.426,29.798C231.26,207.74,231.303,212.948,234.586,213.353L234.586,213.353z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M339.397,198.57c29.549,2.658,66.79-0.797,88.349-23.299c2.313-2.425-1.357-6.108-3.683-3.678
                    c-20.585,21.502-56.431,24.319-84.661,21.778C336.054,193.065,336.089,198.268,339.397,198.57L339.397,198.57z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M129.585,295.882c18.427-2.696,38.529,7.409,51.107,21.52c2.244,2.507,5.905-1.185,3.678-3.678
                    c-13.84-15.528-34.946-25.956-56.168-22.855C124.894,291.355,126.303,296.364,129.585,295.882L129.585,295.882z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M149.687,254.376c14.628,0.818,27.907,10.286,34.756,22.889c1.611,2.946,6.095,0.319,4.497-2.623
                    c-7.762-14.266-22.812-24.539-39.253-25.461C146.341,248.988,146.353,254.191,149.687,254.376L149.687,254.376z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M212.153,226.404c18.078-1.482,36.656,6.366,46.451,21.83c1.788,2.821,6.293,0.215,4.497-2.623
                    c-10.743-16.954-31-26.042-50.948-24.406C208.828,221.476,208.802,226.68,212.153,226.404L212.153,226.404z"/>
                </g>
                <g>
                  <path style="fill:#EDA37A;" d="M308.634,209.627c9.506,5.009,16.209,15.153,17.6,25.681c0.431,3.278,5.63,3.321,5.199,0
                    c-1.628-12.349-8.929-24.242-20.176-30.173C308.298,203.575,305.67,208.063,308.634,209.627L308.634,209.627z"/>
                </g>
              </g>
              <path style="opacity:0.2;fill:#FFFFFF;enable-background:new    ;" d="M0.002,260.854c0,144.06,116.794,260.846,260.859,260.846V0
                C116.796,0,0.002,116.79,0.002,260.854z"/>
            </g>
          </g>
        </svg>
      <% end %>
      </div>
    </div>
  </div>
  <% if @health_checks.empty? %>
    <p class="text-amber-700 text-center font-bold my-10"><%= t('health_checks.index.no_report', petname: @pet.petname.capitalize, organ: t("health_checks.index.organs.pancreas")) %></p>
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4">
      <%= link_to t('.back_link'), pet_health_checks_path, class: "mb-4 items-center text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
    </div>
  <% else %>
    <div class="container mx-auto w-full shadow-lg rounded-xl p-4 mb-4">
      <div class="overflow-x-auto w-full">
        <div class="hidden overflow-x-auto w-full md:block">
          <table class="table-auto mb-2 px-2 w-full dark:bg-slate-100 min-w-[]">
            <thead>
              <tr class="bg-gray-100 dark:bg-black">
                <th class="text-sm text-center p-2 dark:text-white">#</th>
                <th class="text-sm text-center p-2 dark:text-white"><%= t('health_checks.health_check.exam_date') %></th>
                <th class="text-sm text-center p-2 dark:text-white">GLU(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">CREA(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">PHOS(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALB(g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALT(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">ALKP(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">CA(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">CHOL(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">GGT(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">TBIL(mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">AMYL(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">LIPA(U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">fPL2(ng/mL)</th>
              </tr>
            </thead>
            <thead>
              <tr class="border-b-4 bg-gray-100 dark:bg-black">
                <th class="text-sm text-center p-2 dark:text-white"></th>
                <th class="text-sm text-center p-2 dark:text-white"><%= t('health_checks.index.reference_range') %></th>
                <th class="text-sm text-center p-2 dark:text-white">74 - 159 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">0.8 - 2.4 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">3.1 - 7.5 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">2.2 - 4.0 (g/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">12 - 130 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">14 - 111 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">7.8 - 11.3 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">65 - 225 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">0 - 4 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">0.0 - 0.9 (mg/dL)</th>
                <th class="text-sm text-center p-2 dark:text-white">500 - 1500 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white">100 - 1400 (U/L)</th>
                <th class="text-sm text-center p-2 dark:text-white"> <= 3.5 (ng/mL)</th>
              </tr>
            </thead>
            <tbody>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <tr id="<%= dom_id(health_check) %>" class="border-b bg-gray-100">
                  <td class="text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
                  <td class="text-sm text-center p-2 dark:text-gray-800"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
                  <td class="text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
                  <td class="text-sm <%=range_row_class(health_check.crea, 2.4, 0.8)%> p-2"><%= health_check.crea %></td>
                  <td class="text-sm <%=range_row_class(health_check.phos, 7.5, 3.1)%> p-2"><%= health_check.phos %></td>
                  <td class="text-sm <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
                  <td class="text-sm <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
                  <td class="text-sm <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
                  <td class="text-sm <%=range_row_class(health_check.ca, 11.3, 7.8)%> p-2"><%= health_check.ca %></td>
                  <td class="text-sm <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
                  <td class="text-sm <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
                  <td class="text-sm <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
                  <td class="text-sm <%=range_row_class(health_check.amyl, 1500, 500)%> p-2"><%= health_check.amyl %></td>
                  <td class="text-sm <%=range_row_class(health_check.lipa, 1400, 100)%> p-2"><%= health_check.lipa %></td>
                  <td class="text-sm <%=range_row_class(health_check.fpl2, 3.5, 0)%> p-2"><%= health_check.fpl2 %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <ul class="list-disc list-inside ml-4">
            <li class="text-red-700 font-bold italic mt-2"><%= t('health_checks.index.legend.red') %></li>
            <li class="text-sky-700 font-bold italic mt-2"><%= t('health_checks.index.legend.blue') %></li>
          </ul>
        </div>
        <!-- Transposed Table for Small Screens -->
        <div class="md:hidden overflow-x-auto">
          <table class="table-auto mb-2">
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">#</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"></th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm text-center p-2 font-semibold dark:text-gray-800"><%= idx+1 %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap"><%= t('health_checks.health_check.exam_date') %></th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap"><%= t('health_checks.index.reference_range') %></th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm text-center dark:text-gray-800 p-2"><%= health_check.exam_date&.strftime("%Y-%m-%d") %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GLU(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">74 - 159 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.glu, 159, 74)%> p-2"><%= health_check.glu %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CREA(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.8 - 2.4 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.crea, 2.4, 0.8)%> p-2"><%= health_check.crea %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">PHOS(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">3.1 - 7.5 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.phos, 7.5, 3.1)%> p-2"><%= health_check.phos %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALB(g/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">2.2 - 4.0 (g/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alb, 4.0, 2.2)%> p-2"><%= health_check.alb %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALT(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">12 - 130 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alt, 130, 12)%> p-2"><%= health_check.alt %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">ALKP(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">14 - 111 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.alkp, 111, 14)%> p-2"><%= health_check.alkp %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CA(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">7.8 - 11.3 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.ca, 11.3, 7.8)%> p-2"><%= health_check.ca %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">CHOL(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">65 - 225 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.chol, 225, 65)%> p-2"><%= health_check.chol %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">GGT(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0 - 4 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.ggt, 4, 0)%> p-2"><%= health_check.ggt %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">TBIL(mg/dL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0.0 - 0.9 (mg/dL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.tbil, 0.9, 0.0)%> p-2"><%= health_check.tbil %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">AMYL(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">500 - 1500 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.amyl, 1500, 500)%> p-2"><%= health_check.amyl %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">LIPA(U/L)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">100 - 1400 (U/L)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.lipa, 1400, 100)%> p-2"><%= health_check.lipa %></td>
              <% end %>
            </tr>
            <tr class="border-b bg-gray-100">
              <th class="capitalize text-sm text-left p-2 border-r dark:bg-black whitespace-nowrap">fPL2(ng/mL)</th>
              <th class="capitalize text-sm text-left p-2 border-r-4 dark:bg-black whitespace-nowrap">0 - 3.5 (ng/mL)</th>
              <% @health_checks.select(&:persisted?).each_with_index do |health_check, idx| %>
                <td class="capitalize text-sm <%=range_row_class(health_check.fpl2, 3.5, 0)%> p-2"><%= health_check.fpl2 %></td>
              <% end %>
            </tr>
          </table>
          <ul class="list-disc list-inside ml-4">
            <li class="text-red-700 font-bold italic mt-2"><%= t('health_checks.index.legend.red') %></li>
            <li class="text-sky-700 font-bold italic mt-2"><%= t('health_checks.index.legend.blue') %></li>
          </ul>
        </div>   
      </div>
    </div>
  <% end %>
</div>