<div class="flex flex-col justify-center items-center">
  <div class="flex flex-row justify-center items-center gap-4 mt-2">
    <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 p-4 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl">Annual Health Check Report</h1>
    <div class="relative group">
      <span class="absolute -top-8 left-1/2 -transition-x-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
        Go Back to Report Index
      </span>
      <%= link_to pet_health_checks_path, class: "hover:opacity-80 transition-opacity cursor-pointer" do %>
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
          class="transition-transform duration-200 group-hover:scale-110 group-hover:rotate-45 origin-center"
          width="50px" height="50px" viewBox="0 0 493 493" style="enable-background:new 0 0 493 493;" xml:space="preserve">
          <g>
            <path d="M413.5,0h-334C68.196,0,59,9.196,59,20.5v452c0,11.304,9.196,20.5,20.5,20.5h334c11.304,0,20.5-9.196,20.5-20.5v-452
              C434,9.196,424.804,0,413.5,0z M135.559,433.688c0-59.52,48.422-107.941,107.941-107.941s107.941,48.422,107.941,107.941
              c0,14.725-2.905,28.935-8.623,42.313H252v-19.214h15.921c4.694,0,8.5-3.806,8.5-8.5c0-4.694-3.806-8.5-8.5-8.5H219.08
              c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5H235V476h-90.819C138.463,462.623,135.559,448.412,135.559,433.688z
              M135.559,370.001v-76.306l62.438,23.477C171.672,327.328,149.68,346.06,135.559,370.001z M351.441,370.001
              c-14.122-23.941-36.113-42.673-62.438-52.829l62.438-23.477V370.001z M417,472.5c0,1.93-1.57,3.5-3.5,3.5h-52.467
              c4.914-13.853,7.409-28.77,7.409-43.433V281.418c0-2.789-1.368-5.4-3.662-6.988c-2.293-1.588-5.219-1.948-7.83-0.968
              l-96.658,36.395c-5.494-0.728-11.098-1.11-16.792-1.11c-5.617,0-11.145,0.371-16.568,1.079l-96.882-36.363
              c-2.609-0.982-5.536-0.62-7.83,0.968c-2.293,1.588-3.662,4.199-3.662,6.988v151.149c0,14.663,2.495,29.579,7.409,43.433H79.5
              c-1.93,0-3.5-1.57-3.5-3.5v-452c0-1.93,1.57-3.5,3.5-3.5h334c1.93,0,3.5,1.57,3.5,3.5V472.5z"/>
            <path d="M367.034,91.093H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
              C375.534,94.898,371.728,91.093,367.034,91.093z"/>
            <path d="M183.676,59.496l-38.076,38.076l-11.624-11.624c-3.319-3.318-8.702-3.319-12.021,0.001c-3.319,3.319-3.319,8.701,0,12.021
              l17.635,17.634c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
              C192.377,56.178,186.996,56.178,183.676,59.496z"/>
            <path d="M367.034,201.564H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
              C375.534,205.37,371.728,201.564,367.034,201.564z"/>
            <path d="M183.676,169.968l-38.076,38.076l-11.624-11.625c-3.319-3.318-8.701-3.318-12.021,0c-3.32,3.319-3.32,8.702,0,12.021
              l17.635,17.635c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
              C192.377,166.649,186.996,166.649,183.676,169.968z"/>
          </g>
        </svg>
      <% end %>
    </div>
  </div>
  <%= form_with url: bulk_delete_pet_health_checks_path(@pet), method: :delete, data: { confirm: "Are you sure you want to delete the selected health checks?" } do |form| %>
    <% if @health_checks.any? %>
      <div class="flex justify-start mt-4">
        <%= form.submit "Delete Selected", class: "ml-4 p-2 rounded-md shadow-lg font-semibold border-2 border-red-300 text-gray-700 bg-red-200 hover:bg-gray-100 hover:border-gray-300 hover:text-red-700 hover:scale-110" %>
      </div>
      <%= render 'health_check' %>
      <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 font-bold"> 
        <%= link_to new_pet_health_check_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-gray-600 hover:bg-white hover:text-gray-600 hover:border-2 hover:border-gray-600 inline-flex items-center font-medium cursor-pointer" do %>
          <svg width="25px" height="25px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" class="mr-2">
            <circle fill="#4CAF50" cx="24" cy="24" r="21"/>
            <g fill="currentColor">
                <rect x="21" y="14" width="6" height="20"/>
                <rect x="14" y="21" width="20" height="6"/>
            </g>
          </svg>
          Add new report
        <% end %>
        <%= link_to "Go Back to Home", root_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
      </div>
    <% else %>
      < class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 font-bold"> 
        <p class="text-amber-700 text-center my-10">No <%= @pet.petname.capitalize %>'s health checks found. Add Report Right now!!</p>
        <%= link_to new_pet_health_check_path, class: "items-center hover:scale-110 transition-all duration-300 font-medium" do %>
          <span class="sr-only">Add new report</span>
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
              width="25px" height="25px" viewBox="0 0 512.002 512.002" style="enable-background:new 0 0 512.002 512.002;" xml:space="preserve">
            <path style="fill:#FFFFFF;" d="M437.783,54.045c0-22.763-18.453-41.216-41.216-41.216H115.435
              c-22.763,0-41.216,18.453-41.216,41.216v403.912c0,22.763,18.453,41.216,41.216,41.216h197.978l124.37-124.37V54.045z"/>
            <path style="fill:#80D0E1;" d="M437.783,374.801h-83.154c-22.763,0-41.216,18.453-41.216,41.216v83.154L437.783,374.801z"/>
            <path style="fill:#FF7876;" d="M278.897,213.052v-28.259c0-3.666,2.971-6.637,6.637-6.637h28.259c3.666,0,6.637-2.971,6.637-6.637
              v-32.518c0-3.666-2.971-6.637-6.637-6.637h-28.259c-3.666,0-6.637-2.971-6.637-6.637V97.469c0-3.666-2.971-6.637-6.637-6.637h-32.52
              c-3.666,0-6.637,2.971-6.637,6.637v28.259c0,3.666-2.971,6.637-6.637,6.637h-28.259c-3.666,0-6.637,2.971-6.637,6.637v32.52
              c0,3.666,2.971,6.637,6.637,6.637h28.259c3.666,0,6.637,2.971,6.637,6.637v28.259c0,3.666,2.971,6.637,6.637,6.637h32.52
              C275.926,219.689,278.897,216.718,278.897,213.052z"/>
            <g>
              <path style="fill:#58595B;" d="M450.611,54.045c0-29.8-24.245-54.045-54.045-54.045H115.435C85.635,0,61.39,24.245,61.39,54.045
                v403.912c0,29.8,24.245,54.045,54.045,54.045h197.978c3.3,0,6.606-1.295,9.072-3.758l124.37-124.368
                c2.282-2.282,3.756-5.559,3.756-9.071L450.611,54.045L450.611,54.045z M87.048,457.955V54.045
                c0-15.653,12.735-28.387,28.387-28.387h281.131c15.653,0,28.387,12.735,28.387,28.387v307.93h-70.325
                c-29.8,0-54.045,24.243-54.045,54.043v70.325H115.435C99.782,486.343,87.048,473.608,87.048,457.955z M326.241,468.201v-52.184
                c0-15.653,12.733-28.386,28.387-28.386h52.184C398.257,396.186,334.554,459.886,326.241,468.201z"/>
              <path style="fill:#58595B;" d="M137.545,309.881h236.913c7.087,0,12.829-5.744,12.829-12.829c0-7.085-5.742-12.829-12.829-12.829
                H137.545c-7.085,0-12.829,5.744-12.829,12.829C124.716,304.138,130.46,309.881,137.545,309.881z"/>
              <path style="fill:#58595B;" d="M137.545,373.17h130.43c7.087,0,12.829-5.744,12.829-12.829c0-7.085-5.742-12.829-12.829-12.829
                h-130.43c-7.085,0-12.829,5.744-12.829,12.829C124.716,367.426,130.46,373.17,137.545,373.17z"/>
              <path style="fill:#58595B;" d="M267.975,410.8h-130.43c-7.085,0-12.829,5.744-12.829,12.829c0,7.085,5.744,12.829,12.829,12.829
                h130.43c7.087,0,12.829-5.744,12.829-12.829C280.804,416.543,275.06,410.8,267.975,410.8z"/>
            </g>
          </svg>
        <% end %>
        <%= link_to "Go Back to Home", root_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
      </div>
    <% end %>
  <% end %>
</div>
