<% content_for :title, "#{@pet.petname.capitalize}'s Health Reports" %>

<div class="container mx-auto border-4 border-amber-600 rounded-lg shadow-2xl mb-4 p-4 w-full">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center">
      <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl">Annual Health Check-up Report</h1>
    </div>
  </div>

  <div id="health_checks">

    <div class="flex flex-col justify-center items-center gap-4 mt-2 md:flex-row">
      <div class="relative inline-block">
        <%= image_tag "Leonard_Da_Vinci_Aji.png", class: "rounded-xl shadow-lg w-full mb-4 md:w-1/2 mx-auto" %>
        <%= link_to liver_pet_health_checks_path, class: "absolute group hover:bg-red-500/50", style: "left: 51%; top: 37.5%; width: 4%; height: 11%;" do %>
          <span class="absolute -top-1/2 right-full mr-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Liver
          </span>
        <% end %>
        <%= link_to kidney_pet_health_checks_path, class: "absolute group hover:bg-gray-500/50", style: "left: 55%; top: 37%; width: 3%; height: 11%;" do %>
          <span class="absolute -top-8 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Kidney
          </span>
        <% end %>
        <%= link_to pancreas_pet_health_checks_path, class: "absolute group hover:bg-green-500/50", style: "left: 54%; top: 49%; width: 5%; height: 11%;" do %>
          <span class="absolute top-full mt-2 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Pancreas/Pancreatic Islet
          </span>
        <% end %>
        <%= link_to stomach_pet_health_checks_path, class: "absolute group hover:bg-blue-500/50", style: "left: 50%; top: 55%; width: 5%; height: 7%;" do %>
          <span class="absolute right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Stomach
          </span>
        <% end %>
        <%= link_to heart_pet_health_checks_path, class: "absolute group hover:bg-orange-500/50", style: "left: 48.5%; top: 39.5%; width: 3%; height: 15%;" do %>
          <span class="absolute right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Heart
          </span>
        <% end %>
        <%= link_to blood_pet_health_checks_path, class: "absolute group hover:bg-lime-500/50", style: "left: 45%; top: 46%; width: 3.5%; height: 23%;" do %>
          <span class="absolute right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            Go to Blood
          </span>
        <% end %>
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 text-amber-600 font-bold">
      <%= link_to "Liver", liver_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Kidney", kidney_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Pancreas/Pancreatic Islet", pancreas_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Stomach", stomach_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Heart", heart_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Blood", blood_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "All", all_test_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 font-bold"> 
    <%= link_to new_pet_health_check_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-gray-600 hover:bg-white hover:text-gray-600 hover:border-2 hover:border-gray-600 inline-flex items-center font-medium cursor-pointer" do %>
      <svg width="25px" height="25px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" class="mr-2">
        <circle fill="#4CAF50" cx="24" cy="24" r="21"/>
        <g fill="currentColor">
            <rect x="21" y="14" width="6" height="20"/>
            <rect x="14" y="21" width="20" height="6"/>
        </g>
      </svg>
      Add new report
    <% end %>
    <%= link_to "Go Back to Home", root_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
  </div>
</div>