<% content_for :title, t('.title', petname: @pet.petname.capitalize) %>

<div class="container mx-auto border-4 border-amber-600 rounded-lg shadow-2xl mb-4 p-4 w-full">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center">
      <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl"><%= t('.header') %></h1>
    </div>
  </div>

  <div id="health_checks">

    <div id="organs" class="flex flex-col justify-center items-center gap-4 mt-2 md:flex-row">
      <div class="relative inline-block">
        <%= image_tag "Leonard_Da_Vinci_Aji.png", class: "rounded-xl shadow-lg w-full md:w-1/2 mb-4 mx-auto" %>
        <div class="absolute group hover:bg-red-500/50 organ" data-target="liver" style="left: 51%; top: 37.5%; width: 4%; height: 11%;">
          <span class="absolute capitalize -top-1/2 right-full mr-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.liver') %>
          </span>
        </div>
        <div class="absolute group hover:bg-gray-500/50 organ" data-target="kidney" style="left: 55%; top: 37%; width: 3%; height: 11%;">
          <span class="absolute capitalize -top-8 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.kidney') %>
          </span>
        </div>
        <div class= "absolute group hover:bg-green-500/50 organ" data-target="pancreas" style="left: 54%; top: 49%; width: 5%; height: 11%;">
          <span class="absolute capitalize top-full mt-2 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.pancreas') %>
          </span>
        </div>
        <div class="absolute group hover:bg-blue-500/50 organ" data-target="stomach" style="left: 50%; top: 55%; width: 5%; height: 7%;">
          <span class="absolute capitalize right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.stomach') %>
          </span>
        </div>
        <div class= "absolute group hover:bg-orange-500/50 organ" data-target="heart" style= "left: 48.5%; top: 39.5%; width: 3%; height: 15%;">
          <span class="absolute capitalize right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.heart') %>
          </span>
        </div>
        <div class= "absolute group hover:bg-lime-500/50 organ" data-target="blood" style= "left: 45%; top: 46%; width: 3.5%; height: 23%;">
          <span class="absolute capitalize right-full mr-2 top-full mt-2 -translate-y-1/2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.blood') %>
          </span>
        </div>
        <div class="absolute group hover:bg-violet-500/50 organ" data-target="all" style="left: 39%; top: 16%; width: 9%; height: 30%;">
          <span class="absolute capitalize -top-8 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.all') %>
          </span>
        </div>
        <div class="absolute group hover:bg-violet-500/50 organ" data-target="all" style="left: 42%; top: 46%; width: 2%; height: 6%;">
          <span class="absolute capitalize -top-8 left-1/2 -translate-x-2 whitespace-nowrap rounded bg-gray-800 px-2 py-1 text-xs text-white opacity-0 transition-opacity group-hover:opacity-100">
            <%= t('.organs.all') %>
          </span>
        </div>
      </div>
    </div>

    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 text-amber-600 font-bold">
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="all"><%= t('.organs.all') %></div>
      <span class="hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="liver"><%= t('.organs.liver') %></div>
      <span class="hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="kidney" ><%= t('.organs.kidney') %></div>
      <span class="hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="pancreas"><%= t('.organs.pancreas') %></div>
      <span class="hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="stomach" ><%= t('.organs.stomach') %></div>
      <span class= "hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="heart"><%= t('.organs.heart') %></div>
      <span class= "hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="blood"><%= t('.organs.blood') %></div>
      <span class="hidden md:inline">|</span>
      <div class= "capitalize hover:underline hover:scale-110 transition-all duration-300 organ" data-target="other"><%= t('.organs.other') %></div>
    </div>
  </div>

  <div class="flex flex-col justify-center items-center gap-2 mb-4 font-bold md:flex-row">
    <div id="all" class="report all">
      <%= render 'health_check', class: "relative rounded-lg shadow-lg z-10" %>
    </div> 

    <div id="heart" class="report heart">
      <%= render 'heart', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="stomach" class="report stomach">
      <%= render 'stomach', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="blood" class="report blood">
      <%= render 'blood', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="kidney" class="report kidney">
      <%= render 'kidney', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="liver" class="report liver">
      <%= render 'liver', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="pancreas" class="report pancreas/pancreatic islet">
      <%= render 'pancreas', class: "relative rounded-lg shadow-lg z-10" %>
    </div>

    <div id="other" class="report other">
      <%= render 'other', class: "relative rounded-lg shadow-lg z-10" %>
    </div>
  </div>
  <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 font-bold">
    <%= link_to new_pet_health_check_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-gray-600 hover:bg-white hover:text-gray-600 hover:border-2 hover:border-gray-600 inline-flex items-center font-medium cursor-pointer" do %>
      <svg width="25px" height="25px" viewBox="0 0 48 48" version="1" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 48 48" class="mr-2">
        <circle fill="#4CAF50" cx="24" cy="24" r="21"/>
        <g fill="currentColor">
            <rect x="21" y="14" width="6" height="20"/>
            <rect x="14" y="21" width="20" height="6"/>
        </g>
      </svg>
      <%= t('.add_new') %>
    <% end %>
    <%= link_to t('.go_back_home'), root_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-amber-600 hover:bg-white hover:text-amber-600 hover:border-2 hover:border-amber-600 inline-block font-medium cursor-pointer" %>
  </div>
</div>