<% content_for :title, "#{@pet.petname.capitalize}'s Health Reports" %>

<div class="container mx-auto border-4 border-amber-600 rounded-lg shadow-2xl mb-4 p-4 w-full">
  <div class="flex flex-col justify-center items-center">
    <div class="flex justify-center">
      <h1 class="text-center font-bold text-xl text-amber-700 mb-4 mt-2 underline underline-offset-8 decoration-amber-700 dark:text-amber-600 dark:decoration-amber-600 md:text-3xl">Annual Health Check-up Report</h1>
    </div>
  </div>

  <div id="health_checks">

    <div class="flex flex-col justify-center items-center gap-4 mt-2 md:flex-row">
      <div class="flex justify-center">
        <%= image_tag "aji_health_checkup.png", class: "rounded-xl shadow-lg w-full md:w-1/2 mb-4" %>
      </div>
    </div>
    <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 text-amber-600 font-bold">
      <%= link_to "Liver", liver_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Kidney", kidney_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Pancreas/Pancreatic Islet", pancreas_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Stomach", stomach_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Others", others_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "Blood", blood_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
      <span class="hidden md:inline">|</span>
      <%= link_to "All", all_test_pet_health_checks_path, class: "hover:underline hover:scale-110 transition-all duration-300" %>
    </div>
  </div>
</div>