<div id="<%= dom_id pet %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Petname:</strong>
    <%= pet.petname %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Birthday:</strong>
    <%= pet.birthday %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= pet.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Gender:</strong>
    <%= pet.gender %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Breed:</strong>
    <%= pet.breed %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= pet.user_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Users:</strong>
    <%= pet.users_id %>
  </div>
</div>
