<% content_for :title, t(".title", username: Current.user.username.split(" ").map(&:capitalize).join(" ")) %>

<div class="container mx-auto w-full shadow-lg rounded-xl mb-4 p-6 md:w-4/5">
  <div class="flex flex-row justify-center space-x-3">
    <%= image_tag('add_pet.png', width:'25px', height: '25px') %>
    <%= link_to t(".add_a_cat"), new_pet_path, class: "text-sky-500 text-lg underline decoration-2 decoration-sky-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl" %>
  </div>
  
  <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="text-center font-bold text-2xl mt-5 capitalize md:text-4xl"><%= t(".title", username: Current.user.username.split(" ").map(&:capitalize).join(" ")) %></h1>
  </div>

  <div class="flex digg_pagination justify-center mt-4">
    <div class="page_info italic">
      <%= page_entries_info @pets %>
    </div>
  </div>

  <div id="pets" class="flex flex-row flex-nowrap justify-center items-center mt-4 overflow-x-scroll">
    <% if @pets.any? %>
      <% @pets.each do |pet| %>
        <div class="flex flex-col justify-center items-center border-2 border-gray-200 gap-4 px-6 mb-4 mx-2 rounded-lg shadow-lg md:flex-row">
          <div class="flex flex-col justify-between items-center">
            <div class="flex flex-col w-full mb-4 mt-4 lg:flex-row sm:w-auto">
              <%= render pet %>
            </div>
            <div class="flex flex-col items-center gap-2 w-full mb-4 mt-4 border-t-2 border-slate-200 pt-4 md:flex-row bordersm:w-auto">
              <%= link_to t(".show_profile"), pet, class: "w-full sm:w-auto text-center rounded-md px-3 py-2 text-orange-600 bg-orange-200 border-2 border-orange-200 transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-100 hover:text-orange-600 hover:border-orange-600 inline-block font-medium capitalize cursor-pointer capitalize" %>
              <%= link_to t(".edit_profile"), edit_pet_path(pet), class: "w-full sm:w-auto text-center rounded-md px-3 py-2 text-green-600 bg-green-200 border-2 border-green-200 transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-100 hover:text-green-600 hover:border-green-600 inline-block font-medium capitalize cursor-pointer capitalize" %>
              <%= link_to t(".add_record"), new_pet_tracker_path(pet), class: "w-full sm:w-auto text-center rounded-md px-3 py-2 text-stone-600 bg-stone-200 border-2 border-stone-200 transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-100 hover:text-stone-600 hover:border-stone-600 inline-block font-medium capitalize cursor-pointer capitalize" %>
              <%= button_to t(".destroy_profile"), pet, method: :delete, class: "w-full sm:w-auto text-sm rounded-md px-3 py-2 text-red-600 bg-red-200 border-2 border-red-200 transition duration-300 ease-in-out hover:scale-110 hover:bg-gray-100 hover:text-red-600 hover:border-red-600 inline-block font-medium capitalize cursor-pointer capitalize", data: { turbo_confirm: t("pets.show.confirm") } %>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="flex justify-center items-center my-10 w-full">
        <h4 class="flex items-center justify-center gap-2"><%= t(".no_pets") %> <%= image_tag('add_pet.png', width:'25px', height: '25px') %></h4>
      </div>
    <% end %>
  </div>

  <div class="flex digg_pagination justify-center mt-4">
    <div class="page_info italic">
      <%= page_entries_info @pets %>
    </div>
  </div>
</div>
