<div class="container mb-2 mt-2">
  <div class="px-6 py-4 border border-dark-subtle rounded-3">
    <h1 class="text-center mt-4">
      <%= t('users.edit.title', username: Current.user.username.split(' ').map(&:capitalize).join(' ')) %>
    </h1>

    <%= form_with(model: @user) do |form| %>
      <div class="d-flex justify-content-center">
        <%= render 'shared/errors', obj: @user %>
      </div>

      <div class="row mb-3 justify-content-center">
        <%= form.label :username, t('users.edit.username'), class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.text_field :username, class: "form-control", value: @user.username, :required => true %>
        </div> 
      </div>

      <div class="row mb-3 justify-content-center">
        <%= form.label :email_address, t('users.edit.email'), class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.text_field :email_address, class: "form-control", value: @user.email_address, :required => true %>
        </div> 
      </div>

      <div class="mb-3 row justify-content-center">
        <%= form.label :password, t('users.edit.password'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3 text-start"> 
          <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t('users.edit.password_placeholder'), class: "form-control" %>
          <span id="passwordHelpBlock" class="form-text"><%= t('users.edit.password_help') %></span>
        </div>
      </div>

      <div class="mb-3 row justify-content-center">
        <%= form.label :password_confirmation, t('users.edit.password_confirmation'), class: "col-sm-2 col-form-label text-start required", style: "color: #515a5a; font-weight: bold" %>
        <div class="col-sm-3">
          <%= form.password_field :password_confirmation, required: true, autocomplete: "current-password", placeholder: t('users.edit.password_confirmation_placeholder'), class: "form-control" %>
        </div>
      </div>


      <div class="col-12">
        <div class="row mb-3 justify-content-center" data-controller="time-zone">
          <%= form.label :timezone, t('users.edit.time_zone'), class: "col-sm-2 col-form-label", style: "color: #515a5a; font-weight: bold" %>
          <div class="col-sm-3">
            <% if @user.timezone.nil? %>
              <%= form.text_field :timezone, data: { "time_zone_target"=> "tz" }, class: "form-control" %>
            <% else %>
              <%= form.text_field :timezone, value: @user.timezone, data: { "time_zone_target"=> "tz" }, id: "disabledTextInput", class: "form-control", readonly: true, style: "background-color: #d5dbdb" %>
              <span id="passwordHelpBlock" class="form-text"><%= t('users.edit.timezone_help') %></span>
            <% end %>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <%= form.submit t('users.edit.submit'), class: "btn mb-3", style: "color: #515a5a; font-weight: bold; background-color: #d5dbdb" %>
      </div>
    <% end %>
  </div>
</div>