<div class="container mb-2 mt-2" data-controller="timezone">
  <div class="px-6 py-4 border border-slate-500 rounded-lg">
    <h1 class="text-center font-bold underline underline-offset-4 mt-4 mb-3"><%= Current.user.username.split(' ').map(&:capitalize).join(' ') %></h1>

    <div class='flex flex-row text-center mb-3'>
      <p>
        <strong class="capitalize">user name:</strong>
        <%= Current.user.username.split(' ').map(&:capitalize).join(' ') %>
      </p>

      <p>
        <strong class="capitalize">email:</strong>
        <%= Current.user.email_address %>
      </p>

      <p>
        <strong class="capitalize">time zone:</strong>
        <%= Current.user.timezone %>
      </p>

      <p>
        <strong class="capitalize">pets count:</strong>
        <%= Current.user.pets.count %> - 
        <%= Current.user.pets.map do |pet| %>
          <% pet.petname.capitalize %>
        <% end %>
      </p>

    </div>

    <div class="text-center mt-3">
      <%= link_to t('users.show.edit'), edit_user_path(Current.user), class: "btn btn-outline-success btn-sm mb-4" %>
      <%= link_to t('users.show.delete'), user_path(Current.user), class: "btn btn-outline-danger btn-sm mb-4 text-danger", data: {"turbo-confirm":  t('users.show.confirm'), "turbo-method": :delete } %>
    </div>
  </div>
</div>