<div class="container mx-auto py-8">
  <h1 class="text-3xl font-bold mb-4"><%= t("doc_page.title") %></h1>

  <p class="text-base mb-6"><%= t("doc_page.description") %></p>

  <div class="space-y-8">
    <div class="container mx-auto border-2 border-grayishBlue rounded-lg shadow-lg p-6">
      <h2 id="user_account" class="text-2xl font-bold mb-2 underline underline-offset-4 decoration-2"><%= t("doc_page.user_account_title") %></h2>
      <p class="mb-4"><%= t("doc_page.user_account_description") %></p>
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col p-2">
          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.creating_account_title") %></h3>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.creating_account_step_1") %></strong></li>
            <li><%= t("doc_page.creating_account_step_2") %>
              <div class="font-semibold ml-4 mt-1">
                <%= t("doc_page.creating_account_step_2a") %>
              </div>
              <div class="font-semibold ml-4 mt-1">
                <%= t("doc_page.creating_account_step_2b") %>
              </div>
              <div class="font-semibold ml-4 mt-1">
                <%= t("doc_page.creating_account_step_2c") %>
              </div>
              <div class="font-semibold text-softBlue text-sm ml-4 mt-1 mb-3"><%= t("doc_page.creating_account_step_2d") %></div>
            </li>
            <li><strong><%= t("doc_page.creating_account_step_3") %></strong></li>
          </ol>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.signing_in_title") %></h3>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.signing_in_step_1") %></strong></li>
            <li><strong><%= t("doc_page.signing_in_step_2") %></strong></li>
            <li><strong><%= t("doc_page.signing_in_step_3") %></strong></li>
          </ol>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.third_party_signin_title") %></h3>
          <p class="mb-4"><%= t("doc_page.third_party_signin_description") %></p>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.timezone_title") %></h3>
          <p class="mb-4"><%= t("doc_page.timezone_description") %></p>
        </div>
        
        <%= image_tag('user_account.png', class: "border-2 border-slate-200 rounded-lg shadow-md w-full md:w-1/2 p-2") %>
      </div>
    </div>

    <div class="container border-2 border-grayishBlue rounded-lg shadow-lg p-6">
      <h2 id="pet_manage" class="text-2xl font-bold mb-2 underline underline-offset-4 decoration-2"><%= t("doc_page.pet_management_title") %></h2>
      <p class="mb-4"><%= t("doc_page.pet_management_description") %></p>
      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col my-auto p-2">
          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.adding_pet_title") %></h3>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.adding_pet_step_1") %></strong></li>
            <li><strong><%= t("doc_page.adding_pet_step_2") %></strong></li>
            <li><strong><%= t("doc_page.adding_pet_step_3") %></strong></li>
            <li><strong><%= t("doc_page.adding_pet_step_4") %></strong></li>
          </ol>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.viewing_editing_pets_title") %></h3>
          <ul class="list-disc list-inside mb-4"><%= t("doc_page.viewing_editing_pets_description") %></li>
            <li><strong><%= t("doc_page.viewing_editing_pets_step_1") %></strong></li>
          </ul>
        </div>
        <%=image_tag("pet_management.png", class: "border-2 border-slate-200 rounded-lg shadow-md w-full md:w-1/2 p-2") %>
      </div>
    </div>

    <div class="container border-2 border-grayishBlue rounded-lg shadow-lg p-6">
      <h2 id="dry_food" class="text-2xl font-bold mb-2 underline underline-offset-4 decoration-2"><%= t("doc_page.dry_food_storage_title") %></h2>
      <p class="mb-4"><%= t("doc_page.dry_food_storage_description") %></p>

      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col my-auto p-2">
          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.adding_dry_food_title") %></h3>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.adding_dry_food_step_1") %></strong></li>
            <li><strong><%= t("doc_page.adding_dry_food_step_2") %></strong></li>
            <li><strong><%= t("doc_page.adding_dry_food_step_3") %></strong></li>
            <li><strong><%= t("doc_page.adding_dry_food_step_4") %></strong></li>
          </ol>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.managing_inventory_title") %></h3>
          <ul class="list-disc list-inside mb-4">
            <li><strong><%= t("doc_page.managing_inventory_step_1") %></strong></li>
            <li><strong><%= t("doc_page.managing_inventory_step_2") %></strong></li>
          </ul>
        </div>
        <%=image_tag('dry_food.png', class: "border-2 border-slate-200 rounded-lg shadow-md w-full md:w-1/2 p-2") %>
      </div>
    </div>

    <div class="container border-2 border-grayishBlue rounded-lg shadow-lg p-6">
      <h2 id="trackers" class="text-2xl font-bold mb-2 underline underline-offset-4 decoration-2"><%= t("doc_page.trackers_title") %></h2>
      <p class="mb-4"><%= t("doc_page.trackers_description") %></p>

      <div class="flex flex-col md:flex-row">
        <div class="flex flex-col p-2">
          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.creating_tracker_title") %></h3>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.creating_tracker_step_1") %></strong></li>
            <li><strong><%= t("doc_page.creating_tracker_step_2") %></strong></li>
            <li><strong><%= t("doc_page.creating_tracker_step_3") %></strong></li>
            <li><strong><%= t("doc_page.creating_tracker_step_4") %></strong></li>
            <li><strong><%= t("doc_page.creating_tracker_step_5") %></strong></li>
          </ol>

          <h3 class="text-xl font-semibold mb-2"><%= t("doc_page.importing_trackers_title") %></h3>
          <p class="mb-4"><%= t("doc_page.importing_trackers_description") %></p>
          <ol class="list-decimal list-inside mb-4">
            <li><strong><%= t("doc_page.importing_trackers_step_1") %></strong></li>
            <li><strong><%= t("doc_page.importing_trackers_step_2") %></strong></li>
            <li><strong><%= t("doc_page.importing_trackers_step_3") %></strong></li>
            <li><strong><%= t("doc_page.importing_trackers_step_4") %></strong></li>
          </ol>
        </div>
        <%=image_tag("trackers.png", class: "border-2 border-slate-200 rounded-lg shadow-md w-full md:w-1/2 p-2") %>
      </div>

      <h3 id="import" class="text-xl font-semibold mb-2"><%= t("doc_page.import_guide_title") %></h3>
      <p class="mb-4"><%= t("doc_page.import_guide_description") %></p>
      <div class="overflow-x-auto">
        <table class="min-w-full bg-white border border-gray-200 dark:bg-slate-700">
          <thead>
            <tr class="bg-gray-100 dark:bg-black">
              <th class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_column_name") %></th>
              <th class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_column_description") %></th>
              <th class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_column_example") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_date_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_date_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_date_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_feed_time_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_feed_time_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_feed_time_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_food_type_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_food_type_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_food_type_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_brand_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_brand_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_brand_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_description_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_description_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_description_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_amount_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_amount_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_amount_example") %></td>
            </tr>
            <tr>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_hungry_name") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_hungry_description") %></td>
              <td class="px-4 py-2 border-b border border-slate-300 text-center dark:text-white"><%= t("doc_page.table_hungry_example") %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <h4 class="text-lg font-semibold mt-4 mb-2"><%= t("doc_page.hungry_options_title") %></h4>
      <p class="mb-2"><%= t("doc_page.hungry_options_description") %></p>
      <ul class="list-disc list-inside">
        <li><%= t("doc_page.hungry_option_1") %></li>
        <li><%= t("doc_page.hungry_option_2") %></li>
        <li><%= t("doc_page.hungry_option_3") %></li>
      </ul>

      <h4 class="text-lg font-semibold mt-4 mb-2"><%= t("doc_page.csv_example_title") %></h4>
      <p class="mb-2"><%= t("doc_page.csv_example_description") %></p>
      <div class="hidden lg:block overflow-x-auto">
        <table class="border-collapse border border-slate-200 mb-4 dark:bg-slate-700">
          <thead>
            <tr class="bg-sky-100 dark:bg-slate-900">
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_date_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_feed_time_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_food_type_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_brand_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_description_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_amount_name") %></th>
              <th class="px-4 py-2 text-center border border-slate-300 dark:text-white"><%= t("doc_page.table_hungry_name") %></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">2026-01-14</td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">19:50, 21:46, </td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">Wet</td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">ciao</td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">IMC-222 果凍杯 鮪魚+雞肉+干貝 x3</td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">105</td>
              <td class="px-4 py-2 text-center border border-slate-300 dark:text-white">💖 Yes, eat right away</td>
            </tr>
          </tbody>
        </table>
        <%=image_tag("import_csv_1.png", class: "border-2 border-slate-200 rounded-lg shadow-md w-full h-auto p-4") %>
      </div>

      <!-- Transposed Table for Small Screens -->
      <div class="block lg:hidden overflow-x-auto">
        <table class="table-auto mb-4 px-2 w-full shadow-md border border-slate-400 dark:bg-slate-700">
          <tbody>
            <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_date_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">2026-01-14</td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_feed_time_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">19:50, 21:46, </td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_food_type_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">Wet</td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_brand_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">ciao</td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_description_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">IMC-222 果凍杯 鮪魚+雞肉+干貝 x3</td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_amount_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">105</td>
             </tr>
             <tr class="border-b">
              <th class="text-center text-sm text-left p-2 bg-sky-100 border-r-2 border-blue-200 border border-slate-300 dark:bg-black dark:text-white"><%= t("doc_page.table_hungry_name") %></th>
                <td class="text-sm text-center p-2 border border-slate-300 dark:text-white">💖 Yes, eat right away</td>
             </tr>
          </tbody>
        </table>
        <%=image_tag("import_csv_1.png", class: "border-2 border-slate-200 rounded-lg shadow-md  w-full h-auto p-2") %>
      </div>
    </div>
  </div>
</div>
