<section id="aji_hero">
  <div class="container flex flex-col-reverse mx-auto p-6 lg:flex-row lg:mb-0">
    <div class="flex flex-col space-y-10 lg:mt-16 lg:w-1/2">
      <h1 class="text-3xl font-semibold text-center capitalize lg:text-6xl lg:text-left">
        <%= t("hero_section.heading") %>
      </h1>
      <p class="max-w-md mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left lg:mt-0 lg:mx-0">
        <%= t("hero_section.subheading") %>
      </p>
    </div>
    <div class="relative mx-auto lg:mx-0 lg:mb-0 lg:w-1/2">
      <%= image_tag('heading_image.png', class: "px-6 py-6 border-4 border-gray-200 shadow-lg rounded-xl mb-6 lg:top-24 xl:top-0 overflow-x-visible") %>
    </div>
  </div>
</section>

<section id="features">
  <div class="container mx-auto mt-16 px-6">
    <h2 class="mb-6 text-4xl font-semibold text-center"><%= t("hero_section.features_title") %></h2>
    <p class="max-w-md mx-auto text-center text-gray-400">
      <%= t("hero_section.features_subtitle") %>
    </p>
  </div>
</section>


<section id="tabs">
  <div class="container relative mx-auto my-6 mb-32 mt-12 px-6">
    <div class="flex flex-col justify-center max-w-xl mx-auto mb-6 border-b md:space-x-6 md:flex-row">
      <div class="flex justify-center text-center text-gray-500 border-b md:border-b-0 hover:text-softRed md:w-1/3 tab" data-target="panel-1">
        <div class="py-5 border-b-4 border-softRed" data-target="panel-1">
          <%= t("hero_section.tab_1") %>
        </div>
      </div>


      <div class="flex justify-center text-center text-gray-500 border-b md:border-b-0 hover:text-softRed md:w-1/3 tab" data-target="panel-2">
        <div class="py-5" data-target="panel-2">
          <%= t("hero_section.tab_2") %>
        </div>
      </div>

      <div class="flex justify-center text-center text-gray-500 border-b md:border-b-0 hover:text-softRed md:w-1/3 tab" data-target="panel-3">
        <div class="py-5" data-target="panel-3">
          <%= t("hero_section.tab_3") %>
        </div>
      </div>
    </div>

    <div id="panels" class="container mx-auto">
      <div class="flex flex-col py-5 md:flex-row md:space-x-7 panel panel-1">
        <div class="flex justify-center md:w-1/2">
          <%= image_tag('light_pet_profile.png', class: "relative rounded-lg shadow-lg z-10") %>
        </div>
        <div class="flex flex-col justify-center space-y-8 md:w-1/2">
          <h3 class="text-3xl font-semibold text-center md:text-left">
            <%= t("hero_section.panel_1_title") %>
          </h3>
          <p class="max-w-md text-center text-grayishBlue md:text-left">
            <%= t("hero_section.panel_1_content") %>
          </p>
        </div>
      </div>

      <div class="flex flex-col hidden py-5 md:flex-row md:space-x-7 panel panel-2">
        <div class="flex justify-center md:w-1/2">
          <%= image_tag('light_hero_feeding_amount.png', class: "relative rounded-lg shadow-lg z-10") %>
        </div>

        <div class="flex flex-col justify-center space-y-8 md:w-1/2">
          <h3 class="text-3xl font-semibold text-center md:text-left">
            <%= t("hero_section.panel_2_title") %>
          </h3>
          <p class="max-w-md text-center text-grayishBlue md:text-left">
            <%= t("hero_section.panel_2_content") %>
          </p>
        </div>
      </div>


      <div class="flex flex-col hidden py-5 md:flex-row md:space-x-7 panel panel-3">
        <div class="flex justify-center md:w-1/2">
          <%= image_tag('tab1-feeding-amount.png', class: "relative rounded-lg shadow-lg z-10") %>
        </div>

        <div class="flex flex-col justify-center space-y-8 md:w-1/2">
          <h3 class="text-3xl font-semibold text-center md:text-left">
            <%= t("hero_section.panel_3_title") %>
          </h3>
          <p class="max-w-md text-center text-grayishBlue md:text-left">
            <%= t("hero_section.panel_3_content") %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>