<div class="mx-auto w-2/3 md:w-1/2">
  <% if alert = flash[:alert] %>
    <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
  <% end %>

  <h1 class="text-center font-bold text-2xl mb-4 md:text-4xl"><%= t('.title') %></h1>

  <%= form_with url: passwords_path, class: "contents" do |form| %>
    <div class="flex flex-col justify-center items-center space-x-3 mb-4 md:flex-row">
      <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t('.email_placeholder'), value: params[:email_address], class: "shadow-md rounded-md border border-gray-400 focus:outline-solid focus:outline-softBlue px-3 py-2 mt-2 w-full" %>
    </div>

    <div class="flex justify-end mb-4">
      <div>
        <%= form.submit t('.submit_button'), class: "text-center rounded-md px-3.5 py-2.5 text-white bg-softBlue hover:bg-white hover:text-softBlue hover:border-2 hover:border-softBlue inline-block font-medium cursor-pointer" %>
      </div>
    </div>
  <% end %>
</div>
