<div id="<%= dom_id dry_food %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= dry_food.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Food type:</strong>
    <%= dry_food.food_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= dry_food.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount(g):</strong>
    <%= dry_food.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Used amount(g):</strong>
    <%= dry_food.used_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Average used amount(g):</strong>
    <%= dry_food.average_used_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total ate amount:</strong>
    <%= dry_food.total_ate_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Left amount:</strong>
    <%= dry_food.left_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Days remaining:</strong>
    <%= dry_food.days_remaining %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= dry_food.user_id %>
  </div>
</div>
