<div id="<%= dom_id dry_food %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1"><%= t('.brand') %>:</strong>
    <%= dry_food.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.food_type') %>:</strong>
    <%= dry_food.food_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.description') %>:</strong>
    <%= dry_food.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.amount') %>:</strong>
    <%= dry_food.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.used_amount') %>:</strong>
    <%= dry_food.used_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.average_used_amount') %>:</strong>
    <%= dry_food.average_used_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.total_ate_amount') %>:</strong>
    <%= dry_food.total_ate_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.left_amount') %>:</strong>
    <%= dry_food.left_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.days_remaining') %>:</strong>
    <%= dry_food.days_remaining %>
  </div>
  <div>
    <strong class="block font-medium mb-1"><%= t('.user') %>:</strong>
    <%= dry_food.user_id %>
  </div>
</div>
