<%= form_with(model: dry_food, id: "dry-food-form", class: "contents") do |form| %>
  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <%= render 'shared/errors', obj: @dry_food %>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :brand, t(".brand"), class: "text-base font-medium text-gray-700 dark:text-gray-100 capitalize required"%>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.text_field :brand, class: "input-field mt-2" %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :food_type, t(".food_type"), class: "text-base font-medium text-gray-700 dark:text-gray-100 capitalize required" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.select :food_type, DryFood.food_types.keys.map { |ft| [t(".#{ft}"), ft.to_s] }, { prompt: t('.prompt') }, required: true, class: "input-field mt-2" %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :description, t(".description"), class: "text-base font-medium text-gray-700 dark:text-gray-100 capitalize required" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.text_field :description, class: "input-field mt-2" %>
    </div>
  </div>

  <div class="flex flex-col justify-center space-x-3 items-center mb-4 md:flex-row">
    <div class="flex justify-center md:justify-end md:w-1/3">
      <%= form.label :amount, t(".amount"), class: "text-base font-medium text-gray-700 dark:text-gray-100 capitalize required" %>
    </div>
    <div class="flex flex-col items-center md:items-start md:w-5/6">
      <%= form.number_field :amount, step: :any, class: "input-field mt-2" %>
    </div>
  </div>
<% end %>
