<% content_for :title, t('.title') %>

<div class="container mx-auto w-full overflow-auto shadow-lg rounded-xl mb-4 md:w-5/6">
  <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="text-center font-bold text-2xl mt-5 capitalize md:text-4xl"><%= t('.header') %></h1>
  </div>

  <div class="flex flex-row justify-center items-center space-x-3">
    <%= image_tag('add_dry_food_removebg.png', width:'50px', height: '50px') %>
    <%= link_to t('.add'), new_dry_food_path, class: "text-sky-500 text-lg underline decoration-2 decoration-sky-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl" %>
  </div>

  <div id="dry_foods" class="flex flex-col gap-8 justify-center items-center mt-4 lg:flex-row">
    <% if @dry_foods.any? %>
      <!-- Standard Table for Medium and Larger Screens -->
      <div class="hidden lg:block overflow-x-auto">
        <table class="table-auto mb-2 px-2 w-full dark:bg-slate-200">
          <thead>
            <tr class="border-b-4 bg-gray-100 dark:bg-black">
              <th class="capitalize text-sm text-center p-2 dark:text-white">#</th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.brand') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.description') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.type') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.amount') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.total_used_amount') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.average_used_amount') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.left_amount') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.expected_running_out') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.restock') %></th>
              <th class="capitalize text-sm text-center p-2 dark:text-white"><%= t('.delete') %></th>
            </tr>
          </thead>
          <tbody>
            <% @dry_foods.select(&:persisted?).each_with_index do |food, idx| %>
              <tr class="border-b">
                <td class="capitalize text-sky-700 text-sm text-center font-semibold p-2"><%= idx+1 %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.brand %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.description %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.food_type %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.amount %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.total_ate_amount %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.average_used_amount %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.left_amount %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.days_remaining %></td>
                <td class="capitalize text-sky-700 text-sm text-center p-2">
                  <div class="flex flex-row gap-2">
                    <div class="flex">
                      <%= link_to restock_dry_food_path(food), class: "text-white font-bold py-2 px-4 mb-2 rounded-full cursor-pointer transition duration-300 ease-in-out hover:scale-110" do %>
                      <?xml version="1.0" encoding="utf-8"?>
                        <svg fill="#000000" width="20px" height="20px" viewBox="0 0 256 256" id="Flat" xmlns="http://www.w3.org/2000/svg">
                          <path d="M198.71094,198.71094a100.11467,100.11467,0,0,1-141.42188,0,12.0001,12.0001,0,0,1,16.97071-16.97071,76.00016,76.00016,0,1,0,0-107.48046l-13.45606,13.456H79.833a12,12,0,0,1,0,24H31.83813c-.39782.00018-.79541-.02075-1.19165-.05994-.16723-.01641-.32922-.04809-.49426-.07129-.22278-.03137-.44592-.05786-.66687-.10174-.19214-.03815-.37842-.09131-.56726-.13849-.19128-.04773-.38318-.09-.57239-.14722-.18481-.05609-.36316-.12567-.54419-.19037-.18872-.06719-.37841-.12963-.56421-.20654-.16821-.06976-.3291-.15179-.49328-.22888-.19129-.0896-.38367-.1748-.57092-.275-.15577-.08356-.30372-.1789-.45533-.269-.18457-.10968-.37109-.21435-.5509-.33478-.16516-.11065-.32043-.23419-.47986-.35272-.15442-.11493-.3125-.22259-.46252-.34594-.2843-.23353-.55628-.48121-.818-.73945-.019-.01879-.03991-.0343-.05883-.05322s-.03467-.0401-.05347-.0592c-.25855-.2619-.50635-.53406-.74-.81873-.12012-.146-.22461-.29992-.33667-.45019-.1217-.16321-.24829-.32245-.3617-.49189-.11853-.17712-.22155-.3609-.32971-.54278-.092-.15442-.18921-.30512-.27417-.46393-.09887-.18451-.18261-.37414-.271-.5625-.07849-.16681-.16187-.33057-.23279-.50146-.076-.18372-.13757-.37128-.20422-.5578-.06543-.183-.13575-.36341-.19239-.55036-.05713-.18829-.09912-.37945-.1466-.56982-.04749-.18933-.10071-.3761-.13892-.56891-.04382-.22077-.07031-.44367-.10168-.66614-.0232-.1654-.05506-.32782-.07154-.4953-.03906-.39618-.06006-.7937-.05981-1.19147V51.71582a12,12,0,0,1,24,0v19.0293l13.456-13.45606A100.00037,100.00037,0,0,1,198.71094,198.71094Z"/>
                        </svg>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td class="capitalize text-sky-700 text-sm text-center p-2">
                  <%= link_to(dry_food_path(food), data: { turbo_method: :delete, turbo_confirm: t('.confirm') }, id: "delete_dry_food_#{food.id}", class: "inline-block transition-transform text-red-400 hover:text-red-600 hover:scale-110") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <!-- Transposed Table for Small Screens -->
      <div class="block lg:hidden overflow-x-auto">
        <table class="table-auto mb-2 px-2 w-full dark:bg-slate-200">
          <tbody>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black">#</th>
              <% @dry_foods.select(&:persisted?).each_with_index do |food, idx| %>
                <td class="capitalize text-sky-700 text-sm text-center font-semibold p-2"><%= idx+1 %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.brand') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.brand %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.description') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.description %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.type') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.food_type %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.amount') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.amount %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.total_used_amount') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.total_ate_amount %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.average_used_amount') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.average_used_amount %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.left_amount') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.left_amount %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.expected_running_out') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2"><%= food.days_remaining %></td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.restock') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2">
                  <%= link_to(t('.restock'), restock_dry_food_path(food), class: "text-sky-500 text-lg underline decoration-2 decoration-sky-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl") %>
                </td>
              <% end %>
            </tr>
            <tr class="dark:text-white">
              <th class="capitalize text-sm text-left p-2 bg-gray-100 border-r-4 dark:bg-black"><%= t('.delete') %></th>
              <% @dry_foods.select(&:persisted?).each do |food| %>
                <td class="capitalize text-sky-700 text-sm text-center p-2">
                  <%= link_to(dry_food_path(food), data: { turbo_method: :delete, turbo_confirm: t('.confirm') }, id: "delete_dry_food_#{food.id}", class: "inline-block transition-transform text-red-400 hover:text-red-600 hover:scale-110") do %>
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                    </svg>
                  <% end %>
                </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    <% else %>
      <h3 class="text-xl font-light text-center my-10 md:text-lg"><%= t('.no_dry_food') %></h3>
    <% end %>
  </div>
</div>
