<div id="<%= dom_id tracker %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Date:</strong>
    <%= tracker.date %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Feed time:</strong>
    <%= tracker.feed_time %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Come back to eat:</strong>
    <%= tracker.come_back_to_eat %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Food type:</strong>
    <%= tracker.food_type %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Brand:</strong>
    <%= tracker.brand %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Description:</strong>
    <%= tracker.description %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Hungry:</strong>
    <%= tracker.hungry %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= tracker.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Left amount:</strong>
    <%= tracker.left_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Love:</strong>
    <%= tracker.love %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total ate amount:</strong>
    <%= tracker.total_ate_amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Frequency:</strong>
    <%= tracker.frequency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Result:</strong>
    <%= tracker.result %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Favorite score:</strong>
    <%= tracker.favorite_score %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Note:</strong>
    <%= tracker.note %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= tracker.weight %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Pet:</strong>
    <%= tracker.pet_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Dry food:</strong>
    <%= tracker.dry_food_id %>
  </div>
</div>
