<% content_for :title, "#{@pet.petname.capitalize}'s Trackers" %>

  <div class="container mx-auto border-2 border-garyishBlue rounded-md shadow-md w-full lg:w-1/2">
    <div class="flex flex-col justify-center items-center pt-4 mb-4">
      <%= form_with url: import_pet_trackers_path(@pet), method: :post do |form| %>
        <%= form.file_field :file, accept: ".csv" %>
        <%= form.button "Import", class: "p-2 mt-4 rounded-md shadow-lg font-semibold border-2 border-blue-300 text-gray-700 bg-sky-200 hover:bg-gray-200 hover:border-gray-400 hover:text-sky-700 hover:scale-110" %>
        <div class="flex text-sm italic font-semibold text-gray-500">
          <span>Only CSV file can be imported</span>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="font-bold text-center text-2xl mt-5 md:text-4xl"><%=@pet.petname.capitalize%>'s Trackers</h1>
  </div>

  <div class="flex flex-row justify-center space-x-3">
    <%= image_tag('add_tracker_removebg.png', width:'40px', height: '40px') %>
    <%= link_to "New tracker for #{@pet.petname.capitalize}", new_pet_tracker_path(@pet), class: "text-purple-500 text-lg underline decoration-2 decoration-purple-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl" %>
  </div>

  <fieldset class="flex flex-row gap-3 justify-center mb-3">
    <%= image_tag('download.png', width: '25px', height: '25px') %>
    <%= link_to "Export to CSV", pet_trackers_path(@pet, format: :csv), class: "text-base font-bold text-sky-500 transition duration-300 ease-in-out hover:scale-110 capitalize md:text-lg" %>
  </fieldset>

  <div class="flex flex-col mt-5 mb-4 justify-center items-center mx-auto w-full">
    <% if @dry_properties.present? || @wet_properties.present? %>
      <%= column_chart @data, adapter: "google", height: "300px", library: {
        title: "Amount & Weight Over Time",
        isStacked: true,
        interpolateNulls: true, 
        series: {
          0 => {type: 'bar', targetAxisIndex: 0},
          1 => {type: 'bar', targetAxisIndex: 0},
          2 => {type: 'line', targetAxisIndex: 1, pointSize: 5}
        },
        colors: ['#C1D7EC', '#FFDAB9', '#6B4AB9'],
        chartArea: {left: 100, right: 100},
        hAxis: {
          title: 'Date',
          titleTextStyle: {italic: true}
        },
        vAxes: {
          0 => {title: 'Amount (g)'},
          1 => {title: 'Weight (kg)', viewWindow: {min: 0, max: 15}, gridlines: {color: 'transparent'}}
        },
        legend: {position: 'top'},
        titleTextStyle: {bold: true, fontSize: 20}
      } %>
    <% else %>
      <div class="text-center p-8 my-4 bg-gray-100 rounded-lg shadow-lg">
        <p class="font-semibold text-gray-700">No tracking data available to display the chart.</p>
      </div>
    <% end %>
  </div>

  <div id="trackers" class="flex flex-col mx-auto w-full divide-y divide-gray-200 space-y-5">
    <%= render 'tracker' %>
  </div>
</div>
