<% content_for :title, t('trackers.index.title', petname: @pet.petname.capitalize) %>

  <details class="container mx-auto border-2 border-garyishBlue rounded-md shadow-md w-full lg:w-1/2">
    <summary class="text-center font-bold text-lg cursor-pointer p-2 md:text-base"><%= t('trackers.index.import_csv') %></summary>
    <div class="flex flex-col justify-center items-center mb-4">
      <%= form_with url: import_pet_trackers_path(@pet), method: :post do |form| %>
        <%= form.file_field :file, accept: ".csv" %>
        <%= form.button t('trackers.index.import_button'), class: "p-2 mt-4 rounded-md shadow-lg font-semibold border-2 border-blue-300 text-gray-700 bg-sky-200 hover:bg-gray-200 hover:border-gray-400 hover:text-sky-700 hover:scale-110" %>
        <div class="flex text-sm italic font-semibold text-gray-500">
          <span class="dark:text-grayishBlue"><%= t('trackers.index.import_hint') %></span>
        </div>
      <% end %>
    </div>
  </details>
  
  <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="font-bold text-center text-2xl mt-5 md:text-4xl"><%= t('trackers.index.title', petname: @pet.petname.capitalize) %></h1>
  </div>

  <div class="flex flex-row justify-center space-x-3">
    <%= image_tag('add_tracker_removebg.png', width:'40px', height: '40px') %>
    <%= link_to t('trackers.index.new_tracker_link', petname: @pet.petname.capitalize), new_pet_tracker_path(@pet), class: "text-purple-500 text-lg underline decoration-2 decoration-purple-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl" %>
  </div>

  <fieldset class="flex flex-row gap-3 justify-center mb-3">
    <%= image_tag('download.png', width: '25px', height: '25px') %>
    <%= link_to t('trackers.index.export_csv'), pet_trackers_path(@pet, format: :csv), class: "text-base font-bold text-sky-500 transition duration-300 ease-in-out hover:scale-110 capitalize md:text-lg dark:text-white" %>
  </fieldset>

  <div class="flex flex-col digg_pagination justify-center italic mt-4">
    <div class="flex justify-center page_info">
      <%= page_entries_info @trackers %>
    </div>

    <div class="flex digg_pagination justify-center mt-4">
      <%= will_paginate @trackers, :container => true %>
    </div>
    <div class="flex justify-end items-start mx-8">
      <%= form_with url: pet_trackers_path(@pet), method: :get, class: "flex items-center" do |form| %>
        <span class="mr-2"><%= t('trackers.index.items_per_page') %></span>
        <%= form.select :per_page, options_for_select([5, 10, 20, 50], params[:per_page] || 10), {}, { onchange: 'this.form.submit()', class: "p-1 rounded-md shadow-lg font-semibold border-2 border-blue-300 text-gray-700 bg-sky-200 hover:bg-gray-200 hover:border-gray-400 hover:text-sky-700" } %>
      <% end %>
    </div>
  </div>


  <div class="flex flex-col mt-5 mb-4 justify-center items-center mx-auto w-full">
    <div class="flex justify-end items-end pr-8 pt-4 mb-4 w-full">
      <%= form_with url: pet_trackers_path(@pet), method: :get, class: "flex items-center" do |form| %>
        <span class="mr-2"><%= t('trackers.index.chart_range') %></span>
        <%= form.select :range, options_for_select([[t('trackers.index.all_time'), "all"], [t('trackers.index.last_7_days'), "7"], [t('trackers.index.last_30_days'), "30"]], params[:range] || "all"), {}, { onchange: 'this.form.submit()', class: "p-1 rounded-md shadow-lg font-semibold border-2 border-blue-300 text-gray-700 bg-sky-200 hover:bg-gray-200 hover:border-gray-400 hover:text-sky-700" } %>
      <% end %>
    </div>

    <% if @dry_properties.present? || @wet_properties.present? %>
      <%= column_chart @data, adapter: "google", height: "300px", library: {
        title: t('trackers.index.chart_title'),
        isStacked: true,
        interpolateNulls: true, 
        series: {
          0 => {type: 'bar', targetAxisIndex: 0},
          1 => {type: 'bar', targetAxisIndex: 0},
          2 => {type: 'line', targetAxisIndex: 1, pointSize: 5}
        },
        colors: ['#C1D7EC', '#FFDAB9', '#6B4AB9'],
        chartArea: {left: 100, right: 100},
        hAxis: {
          title: t('trackers.index.chart_h_axis_title'),
          titleTextStyle: {italic: true}
        },
        vAxes: {
          0 => {title: t('trackers.index.chart_v_axis_amount')},
          1 => {title: t('trackers.index.chart_v_axis_weight'), viewWindow: {min: 0, max: 15}, gridlines: {color: 'transparent'}}
        },
        legend: {position: 'top'},
        titleTextStyle: {bold: true, fontSize: 20}
      } %>
    <% else %>
      <div class="text-center p-8 my-4 bg-gray-100 rounded-lg shadow-lg">
        <p class="font-semibold text-gray-700"><%= t('trackers.index.no_data_for_chart') %></p>
      </div>
    <% end %>
  </div>

  <div id="trackers" class="flex flex-col mx-auto w-full divide-y divide-gray-200 space-y-5">
    <%= render 'tracker' %>
  </div>

  <div class="flex digg_pagination justify-center mb-4 mt-4">
    <div class="page_info italic">
      <%= page_entries_info @trackers %>
    </div>
  </div>
  <div class="flex digg_pagination justify-center mt-4 mb-4 italic">
    <%= will_paginate @trackers, :container => true %>
  </div>
</div>