<nav class="container relative mx-auto p-4">
  <div class="flex items-center justify-between space-x-8 my-6">
    <div class="z-30">
      <%= image_tag('aji_icon_512.png', width: "80px") %>
    </div>

    <div class="hidden items-center space-x-3 uppercase text-grayishBlue lg:flex">
      <%= link_to t('layouts.navigation.features'), home_path(anchor: "features"), class: "tracking-wide hover:text-softRed" %>
      <%= link_to t('layouts.navigation.about'), about_path, class: "tracking-wide hover:text-softRed" %>
      <div class="relative">
        <div class="inline-flex w-full justify-center bg-white px-3 py-2 
            text-grayishBlue tracking-wide inset-ring-1 inset-ring-gray-300 hover:text-softRed dark:bg-darkBlue cursor-pointer" data-target="btn-doc">
          <%= link_to t('layouts.navigation.docs'), doc_path, class: "tracking-wide hover:text-softRed" %>
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400 btn" data-target="btn-doc">
            <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
        </div>
        <div id="btn-doc" class="absolute hidden w-max top-full mt-2 py-2 bg-white text-grayishBlue border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out menu" data-target="menu-doc">
          <div class="py-1">
            <%= link_to t('layouts.navigation.user_account'), "/doc#user_account", class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-blue-100 hover:text-blue-600 focus:bg-blue-100 focus:text-softRed focus:outline-hidden" %>
            <%= link_to t('layouts.navigation.pet_management'), "/doc#pet_manage", class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-sky-100 hover:text-sky-600 focus:bg-sky-100 focus:text-softRed focus:outline-hidden" %>
            <%= link_to t('layouts.navigation.dry_food_storage'), "/doc#dry_food", class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-indigo-100 hover:text-indigo-600 focus:bg-indigo-100 focus:text-softRed focus:outline-hidden" %>
            <%= link_to t('layouts.navigation.trackers'), "/doc#trackers", class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-lime-100 hover:text-lime-600 focus:bg-lime-100 focus:text-softRed focus:outline-hidden" %>
            <%= link_to t('layouts.navigation.import_csv'), "/doc#import", class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-orange-100 hover:text-orange-600 focus:bg-orange-100 focus:text-softRed focus:outline-hidden" %>
          </div>
        </div>
      </div>
      <% if authenticated? %>
        <div class="relative">
          <div class="inline-flex w-full justify-center bg-white px-3 py-2 
          text-grayishBlue tracking-wide inset-ring-1 inset-ring-gray-300 hover:text-softRed dark:bg-darkBlue cursor-pointer btn" data-target="btn-1">
            <%= t('layouts.navigation.my_account_and_pets') %>
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
              <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <div id="btn-1" class="absolute hidden w-max top-full mt-2 py-2 bg-white text-grayishBlue border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out menu" data-target="menu-1">
            <div class="py-1">
              <div class="px-4 py-2 text-sm text-gray-700 font-semibold border-b-2 border-gray-200">
                <%= t('layouts.navigation.my_profile') %>
              </div>
                <%= link_to t('layouts.navigation.view'), users_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-blue-100 hover:text-blue-600 focus:bg-blue-100 focus:text-softRed focus:outline-hidden" %>
                <%= link_to t('layouts.navigation.edit'), edit_users_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-green-100 hover:text-green-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                <%= link_to t('layouts.navigation.cat_list'), pets_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                <%= link_to t('layouts.navigation.delete'), users_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-red-100 hover:text-softRed focus:bg-gray-100 focus:text-softRed focus:outline-hidden", 
                data: {"turbo-confirm": t('layouts.navigation.delete_confirmation'), "turbo-method": "delete"} %>
              </div>
              <div class="px-4 py-2 text-sm text-gray-700 font-semibold border-b-2 border-gray-200">
                <%= t('layouts.navigation.my_cats_list') %>
              </div>
              <div>
                <%= link_to t('layouts.navigation.add_a_cat'), new_pet_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                <% Current.user.pets.select(&:persisted?).each do |pet| %>
                  <%= link_to t('layouts.navigation.view_pet_profile', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), pet_path(pet), class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-blue-100 hover:text-blue-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                <% end %>
              </div>
            </div>
          </div>

        <div class="relative">
          <div class="inline-flex w-full justify-center bg-white px-3 py-2 
          text-grayishBlue tracking-wide inset-ring-1 inset-ring-gray-300 hover:text-softRed dark:bg-darkBlue cursor-pointer btn" data-target="btn-2">
            <%= t('layouts.navigation.trackers') %> 
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
              <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <div id="btn-2" class="absolute hidden w-max top-full mt-2 py-2 bg-white text-grayishBlue border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out menu" data-target="menu-2">
            <div class="py-1">
              <% Current.user.pets.select(&:persisted?).each do |pet| %>
                <div class="px-4 py-2 text-sm text-gray-700 font-semibold border-b-2 border-gray-200">
                  <%= pet.petname %>
                </div>
                <div>
                  <%= link_to t('layouts.navigation.view_pet_trackers', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), pet_trackers_path(pet), class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-blue-100 hover:text-blue-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                  <%= link_to t('layouts.navigation.pet_favorite_list', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), favorite_food_pet_trackers_path(pet), class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-rose-100 hover:text-rose-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="inline-flex w-full justify-center bg-white px-3 py-2 
            text-grayishBlue tracking-wide inset-ring-1 inset-ring-gray-300 hover:text-softRed dark:bg-darkBlue cursor-pointer btn" data-target="btn-3">
              <%= t('layouts.navigation.dry_food_storage') %> 
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
              <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <div id="btn-3" class="absolute hidden w-max top-full mt-2 py-2 bg-white text-grayishBlue uppercase border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out menu" data-target="menu-3">
            <div class="py-1">
              <%= link_to t('layouts.navigation.add_dry_food'), new_dry_food_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-cyan-100 hover:text-cyan-600 focus:bg-cyan-100 focus:text-softRed focus:outline-hidden" %>
              <%= link_to t('layouts.navigation.storage_list'), dry_foods_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-cyan-100 hover:text-cyan-600 focus:bg-cyan-100 focus:text-softRed focus:outline-hidden" %>
            </div>
          </div>
        </div>
        <%= button_to t('layouts.navigation.sign_out'), session_path, class: "px-8 py-2 text-white uppercase bg-softRed border-2 border-softRed rounded-lg shadow-md hover:text-softRed hover:bg-white", method: :delete %>

      <% else %>
        <%= link_to t('layouts.navigation.get_started'), new_registrations_path, class: "px-8 py-2 text-white bg-grayishBlue border-2 border-grayishBlue rounded-lg shadow-md tracking-wide hover:text-grayishBlue hover:bg-white" %>
        <%= link_to t('layouts.navigation.sign_in'), new_session_path, class: "px-8 py-2 text-white bg-softRed border-2 border-softRed rounded-lg shadow-md hover:text-softRed hover:bg-white" %>
      <% end %>
      <div class="hidden lg:flex items-center space-x-2 my-6 uppercase text-grayishBlue">
        <%= image_tag('languages.png', width: '25px') %>
        <div class="relative">
          <div class="inline-flex w-full justify-center bg-white px-3 py-2 
            text-grayishBlue tracking-wide inset-ring-1 inset-ring-gray-300 hover:text-softRed dark:bg-darkBlue cursor-pointer btn" data-target="btn-4">
              <%= t('layouts.navigation.languages') %> 
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
              <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <div id="btn-4" class="absolute hidden w-max top-full mt-2 py-2 bg-white text-grayishBlue uppercase border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out menu" data-target="menu-4">
            <div class="py-1">
              <% I18n.available_locales.each do |locale| %>
                <%= link_to locale_to_word_flag(locale), url_for(locale: locale), class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-cyan-100 hover:text-cyan-600 focus:bg-cyan-100 focus:text-softRed focus:outline-hidden" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <button id="theme-toggle" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2 5">
      <svg
        id="theme-toggle-dark-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
      <path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
        ></path>
      </svg>
      <svg
        id="theme-toggle-light-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <button id="menu-btn" class="z-30 block item-end lg:hidden focus:outline-none hamburger">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <div id="menu" class="fixed inset-0 z-20 hidden flex-col items-center self-end w-full h-full m-h-screen px-6 py-1 pt-24 pb-4 tracking-wide text-white uppercase divide-y divide-gray-500 opacity-90 bg-veryDarkBlue overflow-y-scroll">
    <div class="w-full py-3 text-center">
      <div class="flex flex-row justify-center gap-3">
        <%= image_tag('icons8-features-64.png', width: "25px", height: "25px") %>
        <%= link_to t('layouts.navigation.mobile.features'), home_path(anchor: "features"), class: "tracking-wide hover:text-softRed" %>
      </div>
    </div>
    <div class="w-full py-3 text-center">
      <div class="flex flex-row justify-center gap-3">
        <%= image_tag('icons8-about-100.png', width: "25px", height: "25px") %>
        <%= link_to t('layouts.navigation.mobile.about'), about_path, class: "block hover:text-softRed"%>
      </div>
    </div>
    <div class="w-full py-3 text-center">
      <div class="flex flex-row justify-center gap-3">
        <svg width="20px" height="20px" viewBox="-12.5 0 164 164" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M138.217 84.0462C138.217 98.8257 138.262 113.605 138.187 128.385C138.209 132.172 137.977 135.958 137.493 139.714C136.49 146.852 132.761 152.406 126.748 156.414C122.354 159.425 117.265 161.279 111.956 161.801C91.8761 163.801 71.652 163.925 51.5488 162.171C43.591 161.478 35.55 161.454 27.8051 159.254C23.7697 158.194 19.8289 156.806 16.023 155.102C8.70901 151.643 4.28973 145.757 2.57189 137.808C1.52697 133.382 0.971024 128.856 0.91394 124.311C1.03849 98.9197 1.1253 73.5276 1.17433 48.1354C1.25767 40.5551 1.84376 32.989 2.92867 25.4857C3.35997 22.106 4.23538 18.7971 5.53244 15.6446C9.07621 7.29288 15.3564 2.24274 24.6662 1.70212C34.9205 1.10576 45.1839 0.569936 55.4512 0.341114C64.9596 0.126553 74.4823 0.199665 83.9919 0.427839C91.2115 0.601562 98.4214 1.20569 105.634 1.64389C107.541 1.7706 109.37 2.45065 110.893 3.60058C120.085 10.362 128.485 18.1321 135.932 26.7637C138.061 29.2024 138.65 31.9664 138.601 35.1615C138.336 51.4539 138.234 67.7493 138.074 84.0436L138.217 84.0462ZM75.0538 155.573C84.5778 155.227 95.2103 154.86 105.843 154.441C108.122 154.352 110.4 154.164 112.654 153.849C116.066 153.365 119.248 151.858 121.779 149.529C125.601 146.111 128.158 141.965 128.613 136.839C129.048 131.947 129.18 127.023 129.321 122.11C129.581 113.035 129.767 103.96 129.949 94.8852C130.032 90.7255 130.413 86.527 129.999 82.4121C128.969 72.2065 129.361 61.993 129.326 51.7842C129.313 48.0018 129.261 44.2188 129.145 40.4403C129.089 38.5754 127.415 37.1249 125.305 37.0536C120.368 36.8857 115.426 36.8453 110.493 36.6048C108.223 36.4669 105.966 36.1656 103.74 35.7027C101.748 35.3138 99.664 32.8567 99.4388 30.8537C99.2507 29.3544 99.142 27.8465 99.1133 26.3358C99.086 21.7983 99.1433 17.2607 99.1381 12.7232C99.0769 11.9769 98.7729 11.2707 98.2717 10.7126C97.7698 10.1546 97.0993 9.77563 96.3611 9.6327C95.2272 9.53028 94.0919 9.40018 92.9554 9.38073C78.895 9.13895 64.8346 8.86261 50.7743 8.71417C45.0779 8.65453 39.3776 8.88647 33.6792 8.99018C29.4873 9.09305 25.3474 9.93995 21.4545 11.4919C16.0211 13.6071 12.9362 17.6566 12.4292 23.4802C12.3145 25.3683 12.3331 27.2622 12.4851 29.1477C13.1745 41.6305 12.9239 54.1122 12.6765 66.602C12.2944 85.8982 12.0783 105.199 11.9221 124.498C11.8518 129.038 12.1108 133.577 12.6967 138.08C12.9894 140.544 13.9104 142.892 15.3723 144.901C16.8342 146.911 18.7882 148.513 21.0483 149.557C23.4378 150.705 25.952 151.575 28.5413 152.15C34.085 153.484 39.747 154.272 45.4457 154.502C54.9462 154.771 64.4395 155.179 75.0538 155.573ZM114.526 29.0686C116.348 28.9733 117.846 28.9941 119.295 28.7685C119.831 28.6849 120.343 28.0758 120.727 27.5961C120.783 27.4272 120.798 27.2473 120.771 27.0714C120.743 26.8954 120.674 26.728 120.569 26.5839C117.883 23.0697 114.595 20.054 110.858 17.6753C110.566 17.6308 110.267 17.649 109.983 17.7279C109.698 17.8068 109.433 17.9446 109.206 18.133C109.069 21.05 109 23.9771 109.111 26.8941C109.196 27.2461 109.366 27.5719 109.606 27.8443C109.845 28.1167 110.147 28.3277 110.487 28.4583C111.816 28.7581 113.167 28.9614 114.526 29.0673V29.0686Z" fill="#fff"/>
            <path d="M69.0014 56.3711C80.027 56.5228 91.0527 56.6548 102.078 56.8414C104.739 56.8584 107.397 57.015 110.041 57.3111C111.523 57.5984 112.968 58.052 114.347 58.6633C115.488 59.0833 116.804 61.1467 116.765 62.2791C116.727 63.3869 115.203 65.4132 114.193 65.8093C110.592 67.2185 106.817 67.4979 103.009 67.5536C95.4043 67.6645 87.7967 67.9484 80.1969 67.8129C70.3189 67.6347 60.4469 67.131 50.5727 66.7382C44.4948 66.4964 38.4176 66.2338 32.3463 65.9065C30.4248 65.889 28.5691 65.2077 27.0964 63.9782C26.6424 63.6367 26.2746 63.1947 26.0223 62.6868C25.7699 62.179 25.64 61.619 25.6429 61.0524C25.708 59.7494 26.896 57.7744 28.0514 57.5643C29.8894 57.1479 31.7603 56.8921 33.643 56.7996C45.4302 56.7309 57.2182 56.7648 69.0053 56.7648L69.0014 56.3711Z" fill="#fff"/>
            <path d="M72.5581 84.8527C62.0742 84.5798 51.8114 84.3723 41.5539 84.0138C38.1412 83.8797 34.7399 83.54 31.3686 82.9955C29.906 82.6545 28.5232 82.0355 27.2957 81.1733C27.0133 80.9458 26.7836 80.6606 26.6221 80.3365C26.4606 80.0124 26.3711 79.6578 26.3597 79.2961C26.3484 78.935 26.4155 78.5753 26.5565 78.2414C26.6975 77.9083 26.9089 77.6088 27.1766 77.3644C28.0653 76.676 29.1061 76.2099 30.2125 76.0031C32.8413 75.622 35.492 75.4068 38.1481 75.3607C53.7344 75.2136 69.3248 74.8927 84.9058 75.1462C94.0073 75.294 103.094 76.3888 112.184 77.1032C112.929 77.2497 113.651 77.4914 114.332 77.8227C115.343 78.1876 116.723 80.5861 116.258 81.5474C115.793 82.5087 115.134 83.6217 114.252 84.0722C111.127 85.6642 107.648 85.7167 104.227 85.7044C93.5907 85.6623 82.9308 86.4661 72.5581 84.8527Z" fill="#fff"/>
            <path d="M70.5187 94.9412C81.5554 95.0909 92.5928 95.2218 103.629 95.4053C105.91 95.4195 108.189 95.5758 110.451 95.8727C111.528 96.0256 112.548 96.7011 113.551 97.221C114.631 97.7804 115.721 100.133 115.192 101.126C114.683 102.079 113.938 103.165 113.018 103.583C111.63 104.174 110.138 104.488 108.628 104.504C99.1159 104.742 89.6011 105.028 80.0882 105.004C70.5753 104.979 61.0519 104.801 51.5521 104.327C44.7237 103.986 37.92 103.091 31.1183 102.33C29.9917 102.189 28.9315 101.722 28.07 100.985C27.3255 100.183 26.7905 99.211 26.5123 98.1544C26.2767 97.4498 27.6658 95.6425 28.3642 95.5537C30.5994 95.1784 32.8549 94.9353 35.119 94.8258C46.918 94.7538 58.7177 94.7927 70.5174 94.7927L70.5187 94.9412Z" fill="#fff"/>
            <path d="M58.378 123.588C50.454 123.302 42.5287 123.042 34.6067 122.713C31.9438 122.707 29.3422 121.917 27.1307 120.439C26.5141 120.012 26.0186 119.434 25.6922 118.76C25.3658 118.086 25.2197 117.339 25.2677 116.593C25.2938 115.275 26.6894 113.662 27.8923 113.191C31.1542 111.912 34.5502 111.988 37.9507 112.134C47.7585 112.553 57.574 112.862 67.3694 113.484C73.386 113.866 79.3734 114.725 85.3686 115.413C86.1042 115.57 86.8241 115.791 87.5213 116.073C88.1937 116.274 89.5672 118.062 89.2788 118.737C88.8655 119.709 88.3675 120.912 87.5369 121.384C86.2279 122.105 84.7756 122.528 83.283 122.622C77.6328 122.986 71.9722 123.206 66.3129 123.4C63.6727 123.493 61.026 123.417 58.3825 123.417L58.378 123.588Z" fill="#fff"/>
            <path d="M43.1534 45.4441C39.4645 45.2127 35.277 45.0767 31.1279 44.6288C29.2531 44.3509 27.4284 43.8051 25.7101 43.0082C25.1882 42.7803 24.7414 42.4103 24.4211 41.9409C24.101 41.4715 23.9202 40.9217 23.8998 40.3545C23.808 39.0885 25.1236 37.1289 26.2627 36.8456C26.622 36.7214 26.9893 36.6217 27.3622 36.5475C36.4513 35.5914 45.5496 35.1699 54.6622 36.2012C55.4148 36.3003 56.1455 36.5245 56.8239 36.864C57.5097 37.1765 58.1091 37.65 58.5707 38.244C59.0323 38.838 59.3422 39.5346 59.4739 40.2741C59.6959 41.3969 58.3335 43.4902 57.154 43.883C56.1095 44.3207 55.0171 44.6348 53.8992 44.8199C50.4883 45.1038 47.0675 45.2295 43.1534 45.4441Z" fill="#fff"/>
          </g>
          <defs>
            <clipPath id="clip0">
            <rect width="138" height="164" fill="white" transform="translate(0.777344)"/>
            </clipPath>
          </defs>
        </svg>
        <%= link_to t('layouts.navigation.mobile.docs'), doc_path, class: "block hover:text-softRed"%>
      </div>
    </div>
    <div class="w-full py-3 text-center">
      <div class="flex flex-row justify-center gap-3">
        <svg width="20px" height="20px" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M6.85357 3.85355L7.65355 3.05353C8.2981 2.40901 9.42858 1.96172 10.552 1.80125C11.1056 1.72217 11.6291 1.71725 12.0564 1.78124C12.4987 1.84748 12.7698 1.97696 12.8965 2.10357C13.0231 2.23018 13.1526 2.50125 13.2188 2.94357C13.2828 3.37086 13.2779 3.89439 13.1988 4.44801C13.0383 5.57139 12.591 6.70188 11.9464 7.34645L7.49999 11.7929L6.35354 10.6465C6.15827 10.4512 5.84169 10.4512 5.64643 10.6465C5.45117 10.8417 5.45117 11.1583 5.64643 11.3536L7.14644 12.8536C7.34171 13.0488 7.65829 13.0488 7.85355 12.8536L8.40073 12.3064L9.57124 14.2572C9.65046 14.3893 9.78608 14.4774 9.9389 14.4963C10.0917 14.5151 10.2447 14.4624 10.3535 14.3536L12.3535 12.3536C12.4648 12.2423 12.5172 12.0851 12.495 11.9293L12.0303 8.67679L12.6536 8.05355C13.509 7.19808 14.0117 5.82855 14.1887 4.58943C14.2784 3.9618 14.2891 3.33847 14.2078 2.79546C14.1287 2.26748 13.9519 1.74482 13.6035 1.39645C13.2552 1.04809 12.7325 0.871332 12.2045 0.792264C11.6615 0.710945 11.0382 0.721644 10.4105 0.8113C9.17143 0.988306 7.80189 1.491 6.94644 2.34642L6.32322 2.96968L3.07071 2.50504C2.91492 2.48278 2.75773 2.53517 2.64645 2.64646L0.646451 4.64645C0.537579 4.75533 0.484938 4.90829 0.50375 5.0611C0.522563 5.21391 0.61073 5.34954 0.742757 5.42876L2.69364 6.59928L2.14646 7.14645C2.0527 7.24022 2.00002 7.3674 2.00002 7.50001C2.00002 7.63261 2.0527 7.75979 2.14646 7.85356L3.64647 9.35356C3.84173 9.54883 4.15831 9.54883 4.35357 9.35356C4.54884 9.1583 4.54884 8.84172 4.35357 8.64646L3.20712 7.50001L3.85357 6.85356L6.85357 3.85355ZM10.0993 13.1936L9.12959 11.5775L11.1464 9.56067L11.4697 11.8232L10.0993 13.1936ZM3.42251 5.87041L5.43935 3.85356L3.17678 3.53034L1.80638 4.90074L3.42251 5.87041ZM2.35356 10.3535C2.54882 10.1583 2.54882 9.8417 2.35356 9.64644C2.1583 9.45118 1.84171 9.45118 1.64645 9.64644L0.646451 10.6464C0.451188 10.8417 0.451188 11.1583 0.646451 11.3535C0.841713 11.5488 1.1583 11.5488 1.35356 11.3535L2.35356 10.3535ZM3.85358 11.8536C4.04884 11.6583 4.04885 11.3417 3.85359 11.1465C3.65833 10.9512 3.34175 10.9512 3.14648 11.1465L1.14645 13.1464C0.95119 13.3417 0.951187 13.6583 1.14645 13.8535C1.34171 14.0488 1.65829 14.0488 1.85355 13.8536L3.85358 11.8536ZM5.35356 13.3535C5.54882 13.1583 5.54882 12.8417 5.35356 12.6464C5.1583 12.4512 4.84171 12.4512 4.64645 12.6464L3.64645 13.6464C3.45119 13.8417 3.45119 14.1583 3.64645 14.3535C3.84171 14.5488 4.1583 14.5488 4.35356 14.3535L5.35356 13.3535ZM9.49997 6.74881C10.1897 6.74881 10.7488 6.1897 10.7488 5.5C10.7488 4.8103 10.1897 4.25118 9.49997 4.25118C8.81026 4.25118 8.25115 4.8103 8.25115 5.5C8.25115 6.1897 8.81026 6.74881 9.49997 6.74881Z"
            fill="#fff"
          />
        </svg>
        <%= link_to t('layouts.navigation.mobile.get_started'), new_registrations_path, class: "block hover:text-softRed"%>
      </div>
    </div>
    <% if authenticated? %>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="20" height="20" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="50" cy="50" r="48" stroke="#ffffff" stroke-width="4"/>
            <circle cx="50" cy="40" r="15" fill="#ffffff"/>
            <path d="M25 80C25 65 35 58 50 58C65 58 75 65 75 80" stroke="#ffffff" stroke-width="6" stroke-linecap="round"/>
          </svg>
          <div class="font-bold">
            <%= t('layouts.navigation.mobile.my_profile') %>
          </div>
        </div>
        <%= link_to t('layouts.navigation.mobile.view_profile'), users_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-blue-100 hover:text-blue-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
        <%= link_to t('layouts.navigation.mobile.edit_profile'), edit_users_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-green-100 hover:text-green-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
        <%= link_to t('layouts.navigation.mobile.delete_profile'), users_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-red-100 hover:text-softRed focus:bg-gray-100 focus:text-softRed focus:outline-hidden", 
        data: {"turbo-confirm": t('layouts.navigation.mobile.delete_confirmation'), "turbo-method": "delete"} %>
        <%= link_to t('layouts.navigation.mobile.cats_list'), pets_path, class: "block px-4 py-2 text-sm text-gray-300 hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
      </div>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="20" height="20" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <path d="M25,65 Q25,45 50,45 Q75,45 75,65 Q75,85 50,90 Q25,85 25,65 Z" fill="#fff" />
            <ellipse cx="20" cy="40" rx="10" ry="12" fill="#fff" />
            <ellipse cx="40" cy="25" rx="11" ry="14" fill="#fff" />
            <ellipse cx="60" cy="25" rx="11" ry="14" fill="#fff" />
            <ellipse cx="80" cy="40" rx="10" ry="12" fill="#fff" />
          </svg>
          <div class="font-bold">
            <%= t('layouts.navigation.mobile.my_cats') %>
          </div>
        </div>
        <%= link_to t('layouts.navigation.mobile.add_a_cat'), new_pet_path, class: "block px-2 py-2 text-sm text-gray-300 hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
          <% Current.user.pets.select(&:persisted?).each do |pet| %>
            <%= link_to t('layouts.navigation.mobile.view_pet_profile', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), pet_path(pet), class: "block px-2 py-2 text-sm text-gray-300 hover:bg-blue-100 hover:text-blue-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
          <% end %>
      </div>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="20" height="25" viewBox="0 0 100 120" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .bag-color { fill: #C8A165; stroke: #96794B; stroke-width: 2; }
                .seal-color { fill: #B08D57; stroke: #96794B; stroke-width: 2; }
                .label-bg { fill: #FFF8E7; stroke: #C8A165; stroke-width: 1.5; }
                .kibble-color { fill: #D2691E; }
                .text-color { fill: #6B4F2B; font-family: sans-serif; font-weight: bold; text-anchor: middle;}
              </style>
            </defs>
            <path class="bag-color" d="M 15,10 L 85,10 L 88,108 Q 88,115 80,115 L 20,115 Q 12,115 12,108 L 15,10 Z"/>
            <path d="M 20,115 L 25,95 M 80,115 L 75,95 M 15,10 L 20,30" stroke="#B08D57" stroke-width="1.5" fill="none"/>
            <rect class="seal-color" x="10" y="4" width="80" height="10" rx="2" ry="2"/>
            <line x1="10" y1="9" x2="90" y2="9" stroke="#96794B" stroke-width="1" stroke-dasharray="2,1"/>
            <rect class="label-bg" x="25" y="30" width="50" height="55" rx="4" ry="4"/>
            <g transform="translate(25, 30)">
              <g class="kibble-color" transform="scale(0.6) translate(16, 15)">
                  <ellipse cx="50" cy="55" rx="15" ry="11"/>
                  <circle cx="30" cy="35" r="6"/>
                  <circle cx="43" cy="25" r="6"/>
                  <circle cx="57" cy="25" r="6"/>
                  <circle cx="70" cy="35" r="6"/>
              </g>
              <text class="text-color" x="25" y="48" font-size="8">PREMIUM</text>
              <text class="text-color" x="25" y="62" font-size="10">KIBBLE</text>
            </g>
            <g class="kibble-color" stroke="#96794B" stroke-width="1">
                <circle cx="8" cy="115" r="3.5"/>
                <circle cx="15" cy="118" r="3"/>
                <circle cx="22" cy="115" r="3.5"/>
            </g>
          </svg>
          <div class="font-bold">
            <%= t('layouts.navigation.mobile.dry_food_storage') %>
          </div>
        </div>
        <%= link_to t('layouts.navigation.mobile.add_dry_food'), new_dry_food_path, class: "block px-2 py-2 text-sm text-gray-300 hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
        <%= link_to t('layouts.navigation.mobile.storage_list'), dry_foods_path, class: "block px-2 py-2 text-sm text-gray-300 hover:bg-violet-100 hover:text-violet-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
      </div>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="25" height="20" viewBox="70 20 60 85" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .tracker-bg { fill: #F5F7FA; stroke: #CCD1D9; stroke-width: 2; }
                .check-mark { fill: none; stroke: #2ECC71; stroke-width: 3; stroke-linecap: round; stroke-linejoin: round; }
                .track-line { stroke: #AAB2BD; stroke-width: 2; stroke-linecap: round; }
              </style>
            </defs>
            <g transform="translate(70, 25)">
              <rect class="tracker-bg" x="0" y="0" width="60" height="80" rx="6" ry="6"/>
              <rect fill="#CCD1D9" x="15" y="-5" width="30" height="10" rx="2"/>

              <g transform="translate(10, 20)">
                  <polyline class="check-mark" points="0,5 5,10 12,0"/>
                  <line class="track-line" x1="18" y1="6" x2="45" y2="6"/>
                  
                  <g transform="translate(0, 20)">
                      <polyline class="check-mark" points="0,5 5,10 12,0"/>
                      <line class="track-line" x1="18" y1="6" x2="45" y2="6"/>
                  </g>

                  <g transform="translate(0, 40)">
                      <circle fill="none" stroke="#AAB2BD" stroke-width="2" cx="6" cy="6" r="5"/>
                      <line class="track-line" x1="18" y1="6" x2="45" y2="6"/>
                  </g>
              </g>
            </g>
          </svg>
          <div class="font-bold">
            <%= t('layouts.navigation.mobile.trackers') %>
          </div>
        </div>
        <% Current.user.pets.select(&:persisted?).each do |pet| %>
          <div class="flex flex-col justify-center p-2">
            <div class="flex flex-row justify-center gap-3">
              <svg width="18" height="18" viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier"> 
                  <path opacity="0.5" d="M9.60601 5.5625C10.3721 5.5625 10.5197 5.40636 12 5.40636C13.4804 5.40636 13.6279 5.5625 14.394 5.5625C15.0324 5.5625 16.9477 4.00011 17.9053 4.00011C18.8629 4.00011 19.9801 4.56261 19.9801 6.18761V8.0625C19.9781 8.55469 19.7993 10.0634 19.0993 9.66022C20.2113 10.9744 19.98 12.5815 19.9801 14C19.9801 17.9062 14.7132 19 12 19C9.28677 19 4.01994 17.9062 4.01994 14C4.01995 12.5815 3.78875 10.9744 4.90066 9.66022C4.20072 10.0634 4.02188 8.55469 4.01995 8.0625V6.1875C4.01995 4.5625 5.13715 4 6.09476 4C7.05236 4 8.9676 5.5625 9.60601 5.5625Z" fill="#E8E4E1"></path> 
                  <path d="M9.01622 11.0625C8.52738 11.0625 8.20149 11.38 8.03646 11.6464C7.86433 11.9243 7.78235 12.2612 7.78235 12.5938C7.78235 12.9263 7.86433 13.2632 8.03646 13.5411C8.20149 13.8075 8.52738 14.125 9.01622 14.125C9.50506 14.125 9.83095 13.8075 9.99598 13.5411C10.1681 13.2632 10.2501 12.9263 10.2501 12.5938C10.2501 12.2612 10.1681 11.9243 9.99598 11.6464C9.83095 11.38 9.50506 11.0625 9.01622 11.0625Z" fill="#E8E4E1"></path> 
                  <path d="M14.0365 11.6464C14.2015 11.38 14.5274 11.0625 15.0162 11.0625C15.5051 11.0625 15.831 11.38 15.996 11.6464C16.1681 11.9243 16.2501 12.2612 16.2501 12.5938C16.2501 12.9263 16.1681 13.2632 15.996 13.5411C15.831 13.8075 15.5051 14.125 15.0162 14.125C14.5274 14.125 14.2015 13.8075 14.0365 13.5411C13.8643 13.2632 13.7823 12.9263 13.7823 12.5938C13.7823 12.2612 13.8643 11.9243 14.0365 11.6464Z" fill="#E8E4E1"></path> 
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.1782 14.0797C11.4305 13.9819 11.7282 13.9375 12.0194 13.9375C12.3107 13.9375 12.6083 13.9819 12.8607 14.0797C12.9844 14.1276 13.1358 14.2032 13.2691 14.3254C13.403 14.448 13.5759 14.675 13.5759 15C13.5759 15.325 13.403 15.552 13.2691 15.6746C13.1358 15.7968 12.9844 15.8724 12.8607 15.9203C12.6083 16.0181 12.3107 16.0625 12.0194 16.0625C11.7282 16.0625 11.4305 16.0181 11.1782 15.9203C11.0545 15.8724 10.9031 15.7968 10.7697 15.6746C10.6359 15.552 10.463 15.325 10.463 15C10.463 14.675 10.6359 14.448 10.7697 14.3254C10.9031 14.2032 11.0545 14.1276 11.1782 14.0797Z" fill="#E8E4E1"></path> 
                  <path d="M17.8634 13.375C17.8634 12.9608 18.1992 12.625 18.6134 12.625C18.9091 12.625 19.2636 12.6924 19.594 12.7737C19.9387 12.8585 20.3134 12.9729 20.6705 13.095C21.3544 13.3289 22.0797 13.6271 22.4074 13.8387C22.7553 14.0634 22.8552 14.5277 22.6305 14.8756C22.4058 15.2236 21.9415 15.3235 21.5936 15.0988C21.4374 14.9979 20.8723 14.7493 20.1852 14.5144C19.8569 14.4021 19.526 14.3017 19.2356 14.2302C18.9309 14.1553 18.7208 14.125 18.6134 14.125C18.1992 14.125 17.8634 13.7892 17.8634 13.375Z" fill="#E8E4E1"></path> 
                  <path d="M17.9679 15.125C17.5536 15.125 17.2179 15.4608 17.2179 15.875C17.2179 16.2892 17.5536 16.625 17.9679 16.625C18.1741 16.625 18.5175 16.7402 18.9481 16.9678C19.2901 17.1485 19.6038 17.3533 19.8491 17.5134C19.8952 17.5435 19.9393 17.5723 19.9803 17.5988C20.3283 17.8235 20.7925 17.7236 21.0173 17.3756C21.242 17.0277 21.1421 16.5634 20.7941 16.3387C20.761 16.3173 20.7232 16.2926 20.6812 16.2652C20.4388 16.1067 20.0586 15.8581 19.6489 15.6416C19.1925 15.4004 18.5681 15.125 17.9679 15.125Z" fill="#E8E4E1"></path> 
                  <path d="M3.81532 14.5144C3.12823 14.7493 2.5632 14.9979 2.40698 15.0988C2.05903 15.3235 1.59478 15.2236 1.37006 14.8756C1.14534 14.5277 1.24524 14.0634 1.5932 13.8387C1.92085 13.6271 2.64614 13.3289 3.33003 13.095C3.68718 12.9729 4.0619 12.8585 4.4066 12.7737C4.73696 12.6924 5.09144 12.625 5.38719 12.625C5.80141 12.625 6.13719 12.9608 6.13719 13.375C6.13719 13.7892 5.80141 14.125 5.38719 14.125C5.27973 14.125 5.06968 14.1553 4.76496 14.2302C4.47458 14.3017 4.14365 14.4021 3.81532 14.5144Z" fill="#E8E4E1"></path> 
                  <path d="M4.02026 17.5988C4.06139 17.5722 4.10522 17.5436 4.15147 17.5134C4.3968 17.3533 4.71048 17.1485 5.05248 16.9678C5.48313 16.7402 5.82654 16.625 6.03273 16.625C6.44695 16.625 6.78273 16.2892 6.78273 15.875C6.78273 15.4608 6.44695 15.125 6.03273 15.125C5.43247 15.125 4.80813 15.4004 4.35169 15.6416C3.94197 15.8581 3.56178 16.1067 3.31938 16.2652C3.27751 16.2925 3.23956 16.3174 3.20648 16.3387C2.85852 16.5634 2.75862 17.0277 2.98334 17.3756C3.20806 17.7236 3.67231 17.8235 4.02026 17.5988Z" fill="#E8E4E1"></path> 
                </g>
              </svg>
              <div class="flex items-center justify-center font-semibold">
                <%= pet.petname.split(" ").map(&:capitalize).join(" ") %>
              </div>
            </div>
            <div class="flex items-center justify-center">
              <%= link_to t('layouts.navigation.mobile.view_pet_trackers', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), pet_trackers_path(pet), class: "block px-2 py-2 text-sm text-gray-300 hover:bg-blue-100 hover:text-blue-600 hover:scale-90 hover:rounded-lg focus:bg-gray-100 focus:text-softRed underline underline-offset-4 focus:outline-hidden" %>
              <%= link_to t('layouts.navigation.mobile.pet_favorite_list', petname: pet.petname.split(" ").map(&:capitalize).join(" ")), favorite_food_pet_trackers_path(pet), class: "block px-2 py-2 text-sm text-gray-300 hover:bg-emerald-100 hover:text-emerald-600 hover:scale-90 hover:rounded-lg focus:bg-gray-100 underline underline-offset-4 focus:text-softRed focus:outline-hidden" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M21.593 10.943c.584.585.584 1.53 0 2.116L18.71 15.95c-.39.39-1.03.39-1.42 0a.996.996 0 0 1 0-1.41 9.552 9.552 0 0 1 1.689-1.345l.387-.242-.207-.206a10 10 0 0 1-2.24.254H8.998a1 1 0 1 1 0-2h7.921a10 10 0 0 1 2.24.254l.207-.206-.386-.241a9.562 9.562 0 0 1-1.69-1.348.996.996 0 0 1 0-1.41c.39-.39 1.03-.39 1.42 0l2.883 2.893zM14 16a1 1 0 0 0-1 1v1.5a.5.5 0 0 1-.5.5h-7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 .5.5v1.505a1 1 0 1 0 2 0V5.5A2.5 2.5 0 0 0 12.5 3h-7A2.5 2.5 0 0 0 3 5.5v13A2.5 2.5 0 0 0 5.5 21h7a2.5 2.5 0 0 0 2.5-2.5V17a1 1 0 0 0-1-1z" fill="#fff"/>
          </svg>
          <%= button_to t('layouts.navigation.mobile.sign_out'), session_path, class: "block uppercase mx-auto hover:text-softRed", method: :delete %>
        </div>
      </div>
    <% else %>
      <div class="w-full py-3 text-center">
        <div class="flex flex-row justify-center gap-3">
          <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 8a1 1 0 0 0 1-1V5.923c0-.459.022-.57.082-.684a.364.364 0 0 1 .157-.157c.113-.06.225-.082.684-.082h10.154c.459 0 .57.022.684.082.07.038.12.087.157.157.06.113.082.225.082.684v12.154c0 .459-.022.57-.082.684a.363.363 0 0 1-.157.157c-.113.06-.225.082-.684.082H7.923c-.459 0-.57-.022-.684-.082a.363.363 0 0 1-.157-.157c-.06-.113-.082-.225-.082-.684V17a1 1 0 1 0-2 0v1.077c0 .76.082 1.185.319 1.627.223.419.558.753.977.977.442.237.866.319 1.627.319h10.154c.76 0 1.185-.082 1.627-.319.419-.224.753-.558.977-.977.237-.442.319-.866.319-1.627V5.923c0-.76-.082-1.185-.319-1.627a2.363 2.363 0 0 0-.977-.977C19.262 3.082 18.838 3 18.077 3H7.923c-.76 0-1.185.082-1.627.319a2.363 2.363 0 0 0-.978.977C5.083 4.738 5 5.162 5 5.923V7a1 1 0 0 0 1 1zm9.593 2.943c.584.585.584 1.53 0 2.116L12.71 15.95c-.39.39-1.03.39-1.42 0a.996.996 0 0 1 0-1.41 9.552 9.552 0 0 1 1.689-1.345l.387-.242-.207-.206a10 10 0 0 1-2.24.254H2.998a1 1 0 1 1 0-2h7.921a10 10 0 0 1 2.24.254l.207-.206-.386-.241a9.562 9.562 0 0 1-1.69-1.348.996.996 0 0 1 0-1.41c.39-.39 1.03-.39 1.42 0l2.883 2.893z" fill="#fff"/>
          </svg>
          <%= link_to t('layouts.navigation.mobile.sign_in'), new_session_path, class: "block hover:text-softRed"%>
        </div>
      </div>
    <% end %>
    <div class="w-full py-3 text-center">
      <div class="flex flex-row justify-center gap-3">
        <svg 
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#fff"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path d="M5 8l6 6" />
          <path d="M4 14l6-6 2-3" />
          <path d="M2 5h12" />
          <path d="M7 2h1" />
          <path d="M22 22l-5-10-5 10" />
          <path d="M14 18h6" />
        </svg>
        <div class="font-bold"><%= t('layouts.navigation.mobile.languages') %></div>
      </div>
      <% I18n.available_locales.each do |locale| %>
        <%= link_to locale_to_word_flag(locale), url_for(locale: locale), class: "block px-2 py-2 text-sm text-gray-300 hover:bg-orange-100 hover:text-orange-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
      <% end %>
    </div>
  </div>
</nav>
