<nav class="container relative mx-auto p-6">
  <div class="flex items-center justify-between space-x-10 my-6">
    <div class="z-30">
      <%= image_tag('aji_logo_transparent.png', width: "100px") %>
    </div>

    <div class="hidden items-center space-x-6 uppercase text-grayishBlue md:flex">
      <a href="/home#features" class="tracking-widest hover:text-softRed">Features</a>
      <%= link_to "About", about_path, class: "tracking-widest hover:text-softRed" %>
      <%= link_to "Get Started", root_path, class: "tracking-widest hover:text-softRed" %>
      <% if authenticated? %>
        <div class="relative">
          <div id="dropdownBtn" class="inline-flex w-full justify-center gap-x-1 5 bg-white px-3 py-2 
          text-grayishBlue tracking-widest inset-ring-1 inset-ring-gray-300 hover:text-softRed">
            <%= Current.user.username.split(' ').map(&:capitalize).join(" ") %>'s Profile
            <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="-mr-1 size-5 text-gray-400">
              <path d="M5.22 8.22a.75.75 0 0 1 1.06 0L10 11.94l3.72-3.72a.75.75 0 1 1 1.06 1.06l-4.25 4.25a.75.75 0 0 1-1.06 0L5.22 9.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" fill-rule="evenodd" />
            </svg>
          </div>
          <div id="dropdownMenu" class="absolute hidden inset-x-0 top-full mt-2 py-2 bg-white text-grayishBlue border border-gray-200 rounded-md shadow-lg z-10 transition-all duration-300 ease-in-out">
            <div class="py-1">
              <%= link_to "Edit", edit_users_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-green-100 hover:text-green-600 focus:bg-gray-100 focus:text-softRed focus:outline-hidden" %>
              <%= link_to "Delete", users_path, class: "block px-4 py-2 text-sm text-grayishBlue hover:bg-red-100 hover:text-softRed focus:bg-gray-100 focus:text-softRed focus:outline-hidden", 
              data: {"turbo-confirm": "Are you sure to delete this user account? The user and associated trackers will all gone..", "turbo-method": "delete"} %>
            </div>
          </div>
        </div>
        <%= button_to "Sign Out", session_path, class: "px-8 py-2 text-white bg-softRed border-2 border-softRed rounded-lg shadow-md hover:text-softRed hover:bg-white", method: :delete %>

      <% else %>
        <%= link_to "Sign Up", new_registrations_path, class: "tracking-widest hover:text-softRed" %>
        <%= link_to "Sign In", new_session_path, class: "px-8 py-2 text-white bg-softRed border-2 border-softRed rounded-lg shadow-md hover:text-softRed hover:bg-white" %>
      <% end %>
    </div>

    <div class="hidden flex items-center space-x-2 my-6 uppercase text-grayishBlue md:flex">
      <%= image_tag('languages.png', width: '25px') %>
      <%= link_to "Languages", root_path, class: "tracking-widest hover:text-softRed" %>
    </div>

    <button id="theme-toggle" class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2 5">
      <svg
        id="theme-toggle-dark-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
      <path
          d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"
        ></path>
      </svg>
      <svg
        id="theme-toggle-light-icon"
        class="w-5 h-5 hidden"
        fill="currentColor"
        viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd"
          clip-rule="evenodd"
        ></path>
      </svg>
    </button>

    <button id="menu-btn" class="z-30 block item-end md:hidden focus:outline-none hamburger">
      <span class="hamburger-top"></span>
      <span class="hamburger-middle"></span>
      <span class="hamburger-bottom"></span>
    </button>
  </div>

  <div id="menu" class="fixed inset-0 z-20 hidden flex-col items-center self-end w-full h-full m-h-screen px-6 py-1 pt-24 pb-4 tracking-widest text-white uppercase divide-y divide-gray-500 opacity-90 bg-veryDarkBlue">
    <div class="w-full py-3 text-center">
      <a href="/home#features" class="block hover:text-softRed">Features</a>
    </div>
    <div class="w-full py-3 text-center">
      <%= link_to "About", about_path, class: "block hover:text-softRed"%>
    </div>
    <div class="w-full py-3 text-center">
      <%= link_to "Get Started", about_path, class: "block hover:text-softRed"%>
    </div>
    <% if authenticated? %>
      <div class="w-full py-3 text-center">
        <%= button_to "Sign Out", session_path, class: "block mx-auto hover:text-softRed", method: :delete %>
      </div>
    <% else %>
      <div class="w-full py-3 text-center">
        <%= link_to "Sign In", new_session_path, class: "block hover:text-softRed"%>
      </div>
    <% end %>
    <div class="w-full py-8 text-center">
      <%= link_to "Languages", root_path, class: "block hover:text-softRed" %>
    </div>
  </div>
</nav>